<h3>Admin / Facilities</h3>

<div class="row"> 
  <div class="col-md-5">
    <div class="form-group">
      <label for="state">State:</label>
      <select class="form-control input-sm" name="state" id="state" data-ng-model="facilities.form.data.state" data-ng-change="facilities.goToResultsPage(true)">
        <option value="PENDING_APPROVAL">Pending Approval</option>
        <option value="PENDING_EDIT_APPROVAL">Pending Edit Approval</option>
        <option value="PUBLISHED">Published</option>
        <option value="REJECTED">Rejected</option>
        <option value="REJECTED_EDIT">Rejected Edit</option>
      </select>
    </div>
    
    <div class="form-group" data-ng-show="facilities.form.data.state == 'PUBLISHED'">
      <label for="state">Visibility:</label>
      <select class="form-control input-sm" name="visibility" id="visibility" data-ng-model="facilities.form.data.visibility" data-ng-options="v.value as v.label for v in [{ value: 1, label: 'Public' }, { value: 0, label: 'Private' }]" data-ng-change="facilities.goToResultsPage()"></select>
    </div>
  </div>
</div>

<div data-ui-view></div>
