<div data-af-loading="!organization.$resolved">
  <br>
  <form class="form-horizontal" name="organizationForm" role="form" novalidate>
    <div data-af-field data-af-field-label="ID*">
      <input type="text" class="form-control" name="organizationId" data-ng-model="organization.id" disabled required>
    </div>
    
    <div data-af-field data-af-field-label="Name*" data-af-field-model="organization.name">
      <input type="text" class="form-control" name="organizationName" data-ng-model="organization.name" placeholder="E.g. Acadia University" maxlength="50" required>
    </div>
    
    <div data-af-field data-af-field-label="Is hidden*">
      <select class="form-control" name="organizationVisibility" data-ng-model="organization.isHidden" data-ng-options="i.value as i.key for i in [{ key: 'Yes', value: 1 }, { key: 'No', value: 0 }]" required>
      </select>
    </div>
    
    <div data-af-field data-af-field-label="Date added*">
      <input type="text" class="form-control" name="organizationDate" data-ng-model="organization.dateAdded" placeholder="E.g. Acadia University" disabled required>
    </div>
    
    <p>
      <button class="btn btn-default btn-sm" data-ng-disabled="organizationForm.$pristine || organizationForm.$invalid || loading.update || loading.remove" data-ng-click="update(organizationForm)">Update <span class="fa fa-check"></span></button>
      <button class="btn btn-default btn-sm" data-ng-click="remove()" data-ng-disabled="loading.update || loading.remove">Delete <span class="fa fa-close"></span></button>
    </p>
  </form>
</div>
