<div data-af-loading="!province.$resolved">
  <br>
  <form class="form-horizontal" name="provinceForm" role="form" novalidate>
    <div data-af-field data-af-field-label="ID*">
      <input type="text" class="form-control" name="provinceId" data-ng-model="province.id" disabled required>
    </div>
    
    <div data-af-field data-af-field-label="Name*" data-af-field-model="province.name">
      <input type="text" class="form-control" name="provinceName" data-ng-model="province.name" placeholder="E.g. Nova Scotia" maxlength="50" required>
    </div>
    
    <div data-af-field data-af-field-label="Is hidden*">
      <select class="form-control" name="provinceVisibility" data-ng-model="province.isHidden" data-ng-options="i.value as i.key for i in [{ key: 'Yes', value: 1 }, { key: 'No', value: 0 }]" required>
      </select>
    </div>
    
    <div data-af-field data-af-field-label="Date added*">
      <input type="text" class="form-control" name="provinceDate" data-ng-model="province.dateAdded" disabled required>
    </div>
    
    <p>
      <button class="btn btn-default btn-sm" data-ng-disabled="provinceForm.$pristine || provinceForm.$invalid || loading.update || loading.remove" data-ng-click="update(provinceForm)">Update <span class="fa fa-check"></span></button>
      <button class="btn btn-default btn-sm" data-ng-click="remove()" data-ng-disabled="loading.update || loading.remove">Delete <span class="fa fa-close"></span></button>
    </p>
  </form>
</div>
