<div>
  <br>
  <form class="form-horizontal" name="organizationForm" role="form" novalidate>
    <div data-af-field data-af-field-label="Name*" data-af-field-model="organization.name">
      <input type="text" class="form-control" name="organizationName" data-ng-model="organization.name" placeholder="E.g. Acadia University" maxlength="150" required>
    </div>
    
    <div data-af-field data-af-field-label="Is hidden*">
      <select class="form-control" 
              name="organizationVisibility" 
              data-ng-model="organization.isHidden" 
              data-ng-options="i.value as i.key for i in [{ key: 'Yes', value: 1 }, { key: 'No', value: 0 }]" required>
      </select>
    </div>
    
    <p>
      <button class="btn btn-default btn-sm" 
              data-ng-disabled="organizationForm.$pristine || organizationForm.$invalid || loading.create" 
              data-ng-click="create()">
        Add <span class="fa fa-check"></span>
      </button>

      <button class="btn btn-default btn-sm" 
              data-ng-click="clear(organizationForm)" 
              data-ng-disabled="organizationForm.$pristine || loading.create">
        Clear <span class="fa fa-refresh"></span>
      </button>
    </p>
  </form>
</div>
