<div data-af-loading="!roles.$resolved">
  <br>
  <form class="form-horizontal" name="userForm" role="form" novalidate>
    <!-- First name. -->
    <div data-af-field data-af-field-label="First name*" data-af-field-model="user.firstName">
      <input type="text" class="form-control" name="userFirstName"
             data-ng-model="user.firstName" maxlength="50" required>
    </div>

    <!-- Last name. -->
    <div data-af-field data-af-field-label="Last name*" data-af-field-model="user.lastName">
      <input type="text" class="form-control" name="userLastName"
             data-ng-model="user.lastName" maxlength="50" required>
    </div>
    
    <!-- Email. -->
    <div data-af-field data-af-field-label="Email*" data-af-field-model="user.email">
      <input type="email" class="form-control" name="userEmail"
             data-ng-model="user.email"
             data-ng-model-options="{ debounce: 500 }" maxlength="50" required>
    </div>

    <!-- Password. -->
    <div data-af-field data-af-field-label="Password*" data-af-field-model="user.password">
      <input type="password" class="form-control" name="userPassword"
             data-ng-model="user.password"
             data-ng-model-options="{ debounce: 500 }" minlength="8" maxlength="16" required>
    </div>
    
    <!-- Account status. -->
    <div data-af-field data-af-field-label="Account status*">
      <select class="form-control" 
              name="userStatus" 
              data-ng-model="user.isActive" 
              data-ng-options="i.value as i.key for i in [{ key: 'Active', value: 1 }, { key: 'Disabled', value: 0 }]" 
              required>
      </select>
    </div>

    <!-- Roles. -->
    <div data-af-field data-af-field-label="Assigned role(s)*" data-af-field-name="userRoles0">
      <div data-ng-repeat="r in roles">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="userRoles{{ $index }}"
                   data-ng-model="r.isSelected" data-ng-required="_form.cb.isRequired(roles, userForm['userRoles0'])">
            {{ r.name }}
          </label>
        </div>
      </div>
    </div>
    
    <!-- Buttons. -->
    <p>
      <button class="btn btn-default btn-sm" 
              data-ng-disabled="userForm.$pristine || userForm.$invalid || loading.create" 
              data-ng-click="create()">
        Add <span class="fa fa-check"></span>
      </button>

      <button class="btn btn-default btn-sm" 
              data-ng-click="clear(userForm)" 
              data-ng-disabled="userForm.$pristine || loading.create">
        Clear <span class="fa fa-refresh"></span>
      </button>
    </p>
  </form>
</div>
