<div data-af-loading="!user.$resolved || !roles.$resolved">
  <br>
  <form class="form-horizontal" name="userForm" role="form" novalidate>
    <!-- ID. -->
    <div data-af-field="ID*">
      <input type="text" class="form-control" name="userId"
             data-ng-model="user.id" disabled required>
    </div>
    
    <!-- First name. -->
    <div data-af-field="First name*">
      <input type="text" class="form-control" name="userFirstName"
             data-ng-model="user.firstName" maxlength="50" required>
    </div>

    <!-- Last name. -->
    <div data-af-field="Last name*">
      <input type="text" class="form-control" name="userLastName"
             data-ng-model="user.lastName" maxlength="50" required>
    </div>
    
    <!-- Email. -->
    <div data-af-field="Email*">
      <input type="text" class="form-control" name="userEmail"
             data-ng-model="user.email"
             data-ng-model-options="{ debounce: 500 }" maxlength="50" required>
    </div>
    
    <!-- Account status. -->
    <div data-af-field="Account status*">
      <select class="form-control" 
              name="userStatus" 
              data-ng-model="user.isActive" 
              data-ng-options="i.value as i.key for i in [{ key: 'Active', value: 1 }, { key: 'Disabled', value: 0 }]" 
              required>
      </select>
    </div>

    <!-- Roles. -->
    <div data-af-field="Assigned role(s)*" data-af-field-name="userRoles0">
      <div data-ng-repeat="r in roles">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="userRoles{{ $index }}"
                   data-ng-model="r.isSelected"
                   data-ng-required="_form.cb.isRequired(roles, userForm['userRoles0'])">
            {{ r.name }}
          </label>
        </div>
      </div>
    </div>

    <!-- Date last pinged. -->
    <div data-af-field="Date last pinged">
      <input type="text" class="form-control" name="userLastPingedDate"
             data-ng-model="user.dateLastPinged" disabled>
    </div>

    <!-- Date last login. -->
    <div data-af-field="Date of last login">
      <input type="text" class="form-control" name="userLastLoginDate"
             data-ng-model="user.dateLastLogin" disabled>
    </div>
    
    <!-- Date created. -->
    <div data-af-field="Date created*">
      <input type="text" class="form-control" name="userCreatedDate"
             data-ng-model="user.dateCreated" disabled required>
    </div>

    <!-- Date updated. -->
    <div data-af-field="Date updated*">
      <input type="text" class="form-control" name="userUpdatedDate"
             data-ng-model="user.dateUpdated" disabled required>
    </div>
    
    <!-- Buttons. -->
    <p>
      <button class="btn btn-default btn-sm" 
              data-ng-disabled="userForm.$pristine 
                                || userForm.$invalid 
                                || loading.update 
                                || loading.updatePassword 
                                || loading.remove" 
              data-ng-click="update(userForm)">
        Update <span class="fa fa-check"></span>
      </button>

      <button class="btn btn-default btn-sm" 
              data-ng-click="remove()" 
              data-ng-disabled="loading.update 
                                || loading.updatePassword 
                                || loading.remove 
                                || user.id == _auth.user.id">
        Delete <span class="fa fa-close"></span>
      </button>
    </p>

    <!-- Notes. -->
    <p class="text-warning" data-ng-if="user.id == _auth.user.id">
      You are now allowed to delete your own account.
    </p>       
  </form>

  <!-- Reset password. -->
  <hr>
  
  <h2 class="h3">Reset Password</h2>

  <form class="form-horizontal" name="userPasswordForm" role="form" novalidate>
    <br>
    <div data-af-field="Password*">
      <input type="password" class="form-control" name="userPassword"
             data-ng-model="userPassword.password"
             data-ng-model-options="{ debounce: 500 }" minlength="8" maxlength="16" required>
    </div>

    <p>
      <button class="btn btn-default btn-sm" 
              data-ng-disabled="userPasswordForm.$pristine 
                                || userPasswordForm.$invalid 
                                || loading.update 
                                || loading.updatePassword 
                                || loading.remove" 
              data-ng-click="updatePassword(userPasswordForm)">
        Update Password <span class="fa fa-check"></span>
      </button>
    </p>
  </form>
</div>
