<div data-af-loading="!facility.$resolved">
  <hr>
  <!-- Record information. -->
  <div class="panel panel-default">
    <div class="panel-body">
      <p class="text-muted">Record Metadata</p>
      <hr>

      <div class="row">
        <!-- Facility state. -->
        <div class="col-sm-3" data-ng-class="{ 'text-right': _getWidth() >= _bootstrap.sm }">
          <label>State</label>
        </div>
      
        <div class="col-sm-9">
          <p>
            <b>
              <!-- Pending. -->
              <span class="text-info" data-ng-if="facility.state === 'PENDING_APPROVAL'">
                PENDING APPROVAL
              </span>
              <span class="text-info" data-ng-if="facility.state === 'PENDING_EDIT_APPROVAL'">
                PENDING EDIT APPROVAL
              </span>
              
              <!-- Published and current. -->
              <span class="text-success" data-ng-if="fr.isPublishedRevision === 1">
                CURRENT PUBLISHED REVISION
              </span>
              
              <!-- Published but old. -->
              <span class="text-warning" data-ng-if="fr.isPreviousRevision === 1">
                PREVIOUS PUBLISHED REVISION
              </span>
              
              <!-- Rejected. -->
              <span class="text-danger" data-ng-if="facility.state === 'REJECTED'">
                REJECTED
              </span>
              
              <!-- Rejected edit. -->
              <span class="text-danger" data-ng-if="facility.state === 'REJECTED_EDIT' && !fr.isDeleted">
                REJECTED EDIT
              </span>
              
              <!-- Deleted. -->
              <span class="text-danger" data-ng-if="fr.isDeleted">
                DELETED 
                <span class="label label-default" data-ng-if="facility.state === 'PUBLISHED_EDIT'">Edit</span>
                <span class="label label-default" data-ng-if="facility.state === 'REJECTED_EDIT'">Rejected edit</span>
              </span>
            </b>
          </p>
          
          <!-- Current revision anchor (only shown if not already viewing current revision). -->
          <p data-ng-if="fr.isPublishedRevision === 0">
            <a data-ui-sref="admin.facilities.show({ facilityRepositoryId: fr.publishedId })">
              Current published revision
            </a>
          </p>

          <p data-ng-if="fr.isPublishedRevision === 0">
            <span data-ng-if="fr.publishedId > fr.id">
              <a data-ui-sref="admin.facilities.compare({ editedFrId: fr.publishedId, originalFrId: fr.id })">
                Compare
              </a>  
            </span>
            <span data-ng-if="fr.publishedId < fr.id">
              <a data-ui-sref="admin.facilities.compare({ editedFrId: fr.id, originalFrId: fr.publishedId })">
                Compare
              </a>
            </span>
              
          </p>
          
          <!-- Revision history anchor. -->
          <p data-ng-if="fr.facilityId">
            <a data-ui-sref="admin.facilities.history.index({ facilityId: fr.facilityId })">
              Revision history
            </a>
          </p>
          
          <!-- Published link anchor. -->
          <p data-ng-if="fr.isPublic === 1">
            <a data-ui-sref="facilities.show({ facilityId: fr.facilityId })">
              View public record
            </a>
          </p>
        </div>
      </div>

      <br data-ng-if="_getWidth() < _bootstrap.sm">

      <!-- Search visiblity -->
      <div class="row">
        <div class="col-sm-3" data-ng-class="{ 'text-right': _getWidth() >= _bootstrap.sm }">
          <label>Search visibility</label>
        </div>
      
        <div class="col-sm-9">
          <p data-ng-if="fr.isPublic >= 0">
            <b>
              <span class="text-success" data-ng-if="fr.isPublic">PUBLIC</span>
              <span class="text-warning" data-ng-if="!fr.isPublic">PRIVATE</span>
            </b>
          </p>

          <p data-ng-if="fr.isPublic < 0">
            <span class="label label-default">N/A</span>
          </p>
        </div>
      </div>

      <!-- Update status. -->
      <div class="row">
        <div class="col-sm-3" data-ng-class="{ 'text-right': _getWidth() >= _bootstrap.sm }">
          <label>Update status</label>
        </div>
      
        <div class="col-sm-9">
          <div data-ng-if="fr.isBeingUpdated >= 0">
            <p data-ng-if="fr.unclosedUpdateRequest.status === 'OPEN'">
              <b><span class="text-warning">OPEN</span></b> (waiting for edit to be submitted)
              (<a data-ui-sref="facilities.form.edit({ facilityRepositoryId: fr.id, token: fr.unclosedUpdateRequest.token })"><!--
            -->update link<!--
            --></a>)
            </p>

            <p data-ng-if="fr.unclosedUpdateRequest.status === 'PENDING'">
              <b><span class="text-warning">PENDING REVIEW</span></b>
              (<a data-ui-sref="admin.facilities.show({ facilityRepositoryId: fr.unclosedUpdateRequest.frIdAfter })"><!--
            -->view edit<!--
            --></a>)
            </p>

            <p class="small"
               data-ng-if="fr.unclosedUpdateRequest.status === 'OPEN' || fr.unclosedUpdateRequest.status === 'PENDING'">
              Update request opened by 
              <b>{{ fr.unclosedUpdateRequest.editorFirstName }} {{ fr.unclosedUpdateRequest.editorLastName }}</b>
              
              (<a data-ng-href="mailto:{{ fr.unclosedUpdateRequest.editorEmail }}">{{ fr.unclosedUpdateRequest.editorEmail }}</a>)
              on <b>{{ fr.unclosedUpdateRequest.dateOpened | afStrToDate | date:'medium' }}</b>
            </p>

            <p data-ng-if="!fr.unclosedUpdateRequest.status">
              <span class="label label-default">Not being updated</span>
            </p>
          </div>

          <p data-ng-if="fr.isBeingUpdated < 0">
            <span class="label label-default">N/A</span>
          </p>      
        </div>
      </div>

        <!-- Edited by. -->
      <div class="row">
        <div class="col-sm-3" data-ng-class="{ 'text-right': _getWidth() >= _bootstrap.sm }">
          <label>Edited by</label>
        </div>
      
        <div class="col-sm-9">
          <p data-ng-if="fr.originRequest">
            {{ fr.originRequest.editorFirstName }}
            {{ fr.originRequest.editorLastName }}
            (<a data-ng-href="mailto:{{ fr.originRequest.editorEmail }}"><!--
           -->{{ fr.originRequest.editorEmail }}<!--
          --></a>)
            <span >
              
            </span>
          </p>

          <p data-ng-if="!fr.originRequest">
            <span class="label label-default">N/A</span>
          </p>      
        </div>
      </div>

      <br data-ng-if="_getWidth() < _bootstrap.sm">
      
      <!-- Reviewed by. -->
      <div class="row">
        <div class="col-sm-3" data-ng-class="{ 'text-right': _getWidth() >= _bootstrap.sm }">
          <label>Reviewed by</label>
        </div>
      
        <div class="col-sm-9">
          <a data-ui-sref="admin.users.show({ 'userId': fr.reviewer.id })">
            {{ fr.reviewer.firstName }} {{ fr.reviewer.lastName }}
          </a>
          <span class="label label-default" data-ng-if="!fr.reviewer.firstName">N/A</span>        
        </div>
      </div>
      
      <br data-ng-if="_getWidth() < _bootstrap.sm">

      <!-- Reviewer message. -->
      <div class="row">
        <div class="col-sm-3" data-ng-class="{ 'text-right': _getWidth() >= _bootstrap.sm }">
          <label>Reviewer message</label>
        </div>
      
        <div class="col-sm-9">
          <!-- 
              The 'ngShow' directive prevents the reviewer message from being
              displayed as the admin is typing out the message (since it's 
              updating the actual `$scope.fr` object and not a copy of it) below 
              unless it has already been reviewed.
            -->
          <span data-ng-if="fr.reviewer.firstName">{{ fr.reviewerMessage }}</span>

          <span class="label label-default" data-ng-if="!fr.reviewer.firstName">N/A</span>
          <span class="label label-default" data-ng-if="fr.reviewer.firstName && !fr.reviewerMessage">
            No message was provided
          </span>        
        </div>
      </div>
      
      <br data-ng-if="_getWidth() < _bootstrap.sm">

      <!-- Date submitted. -->
      <div class="row">
        <div class="col-sm-3" data-ng-class="{ 'text-right': _getWidth() >= _bootstrap.sm }">
          <label>Date submitted</label>
        </div>
      
        <div class="col-sm-9">
          {{ fr.dateSubmitted | afStrToDate | date:'medium' }}
        </div>
      </div>
      
      <br data-ng-if="_getWidth() < _bootstrap.sm">

      <!-- Date reviewed. -->
      <div class="row">
        <div class="col-sm-3" data-ng-class="{ 'text-right': _getWidth() >= _bootstrap.sm }">
          <label>Date reviewed</label>
        </div>
      
        <div class="col-sm-9">
          <span data-ng-if="fr.reviewer.firstName">
            {{ fr.dateReviewed | afStrToDate | date:'medium' }}
          </span>

          <span class="label label-default" data-ng-if="!fr.reviewer.firstName">N/A</span>
        </div>
      </div>
    </div>
  </div> 
  
  <!-- Facility information. -->
  <div data-af-facility="all" 
      data-af-facility-model="facility" 
      data-af-facility-is-preview="true" 
      data-af-facility-is-new-organization="!(facility.organization.id > 0) && facility.organization.name">
  </div>
  
  <!-- Code for 'PENDING' and 'PENDING_EDIT_APPROVAL' records. -->
  <div data-ng-if="facility.state === 'PENDING_APPROVAL' || facility.state === 'PENDING_EDIT_APPROVAL'">
    <hr>
    
    <!-- Reviewer message textbox. -->
    <div class="row">
      <div class="col-sm-3" data-ng-class="{ 'text-right': _getWidth() >= _bootstrap.sm }">
        <label>Reviewer message</label>
        <p>This is optional. It will be included in the email to the primary contact</p>
      </div>
    
      <div class="col-sm-7">
        <div class="form-group">
          <textarea class="form-control" id="reviewerMessage" rows="7" data-ng-model="fr.reviewerMessage"></textarea>
        </div>
      </div>
    </div>
    
    <!-- Approve/Reject/Approve edit/Reject edit buttons. -->
    <p>
      <button type="button" 
              class="btn btn-default" 
              data-ng-click="approve();" 
              data-ng-if="facility.state === 'PENDING_APPROVAL'" 
              data-af-loading-btn="loading.approve" 
              data-ng-disabled="loading.approve 
                                || loading.reject 
                                || loading.approveEdit 
                                || loading.rejectEdit 
                                || loading.unhide 
                                || loading.hide 
                                || loading.edit 
                                || loading.remove">
        Approve <span class="fa fa-check"></span>
      </button>

      <button type="button" 
              class="btn btn-default" 
              data-ng-click="reject();" 
              data-ng-if="facility.state === 'PENDING_APPROVAL'" 
              data-af-loading-btn="loading.reject" 
              data-ng-disabled="loading.approve 
                                || loading.reject 
                                || loading.approveEdit 
                                || loading.rejectEdit 
                                || loading.unhide 
                                || loading.hide 
                                || loading.edit 
                                || loading.remove">
        Reject <span class="fa fa-remove"></span>
      </button>

      <button type="button" 
              class="btn btn-default" 
              data-ng-click="approveEdit();" 
              data-ng-if="facility.state === 'PENDING_EDIT_APPROVAL'" 
              data-af-loading-btn="loading.approveEdit"
              data-ng-disabled="loading.approve 
                                || loading.reject 
                                || loading.approveEdit 
                                || loading.rejectEdit 
                                || loading.unhide 
                                || loading.hide 
                                || loading.edit 
                                || loading.remove">
        Approve edit <span class="fa fa-check"></span>
      </button>

      <button type="button" 
              class="btn btn-default" 
              data-ng-click="rejectEdit();" 
              data-ng-if="facility.state === 'PENDING_EDIT_APPROVAL'" 
              data-af-loading-btn="loading.rejectEdit" 
              data-ng-disabled="loading.approve 
                                || loading.reject 
                                || loading.approveEdit 
                                || loading.rejectEdit 
                                || loading.unhide 
                                || loading.hide 
                                || loading.edit 
                                || loading.remove">
        Reject edit <span class="fa fa-remove"></span>
      </button>    
    </p>
  </div>
  
  <!-- Code for current 'PUBLISHED' or 'PUBLISHED_EDIT' records. -->
  <div data-ng-if="fr.isPublishedRevision === 1">
    <button type="button" 
            class="btn btn-default" 
            data-ng-click="unhide()" 
            data-ng-if="!fr.isPublic" 
            data-af-loading-btn="loading.unhide" 
            data-ng-disabled="loading.approve 
                              || loading.reject 
                              || loading.approveEdit 
                              || loading.rejectEdit 
                              || loading.unhide 
                              || loading.hide 
                              || loading.edit 
                              || loading.remove">
      Unhide <span class="fa fa-eye"></span>
    </button>

    <button type="button" 
            class="btn btn-default" 
            data-ng-click="hide()" 
            data-ng-if="fr.isPublic" 
            data-af-loading-btn="loading.hide" 
            data-ng-disabled="loading.approve 
                              || loading.reject 
                              || loading.approveEdit 
                              || loading.rejectEdit 
                              || loading.unhide 
                              || loading.hide 
                              || loading.edit 
                              || loading.remove">
      Hide <span class="fa fa-eye-slash"></span>
    </button>

    <button type="button" 
            class="btn btn-default" 
            data-ng-click="edit()" 
            data-af-loading-btn="loading.edit" 
            data-ng-disabled="loading.approve 
                              || loading.reject 
                              || loading.approveEdit 
                              || loading.rejectEdit 
                              || loading.unhide 
                              || loading.hide 
                              || loading.edit 
                              || loading.remove">
      Edit <span class="fa fa-edit"></span>
    </button>

    <button type="button" 
            class="btn btn-default" 
            data-ng-click="remove()" 
            data-af-loading-btn="loading.remove" 
            data-ng-disabled="loading.approve 
                              || loading.reject 
                              || loading.approveEdit 
                              || loading.rejectEdit 
                              || loading.unhide 
                              || loading.hide 
                              || loading.edit 
                              || loading.remove">
      Delete <span class="fa fa-remove"></span>
    </button>
  </div>
</div>
