<p data-af-page-title="Admin / Account"></p>

<h1>Admin / Account</h1>

<div class="row">
  <div class="col-md-12">
    <form name="accountForm" class="form-horizontal" role="form" novalidate>
      <div data-af-field data-af-field-label="First name*">
        <input type="text" class="form-control" data-ng-model="_auth.user.firstName" disabled>
      </div>
      
      <div data-af-field data-af-field-label="Last name*">
        <input type="text" class="form-control" data-ng-model="_auth.user.lastName" disabled>
      </div>
      
      <div data-af-field data-af-field-label="Email*">
        <input type="text" class="form-control" data-ng-model="_auth.user.email" disabled>
      </div>     
    </form>
  </div>
</div>
