<div data-af-loading="!provinces.resource.$resolved">
  <hr>
  
  <div data-ng-if="!provinces.resource.data.length">
    <p>Nothing found.</p>
  </div>
  
  <div data-ng-if="provinces.resource.data.length">
    <ol start="{{ (provinces.resource.perPage * (provinces.resource.currentPage - 1) + 1)  }}">
      <li data-dir-paginate="p in provinces.resource.data | itemsPerPage: provinces.resource.perPage" 
          data-total-items="provinces.resource.total" 
          data-current-page="provinces.form.data.page">
        <p>
          <a data-ui-sref="admin.provinces.show({ provinceId: p.id })">{{ p.name }}</a>
          <span data-ng-if="p.isHidden" class="label label-warning">Hidden</span>
        </p>
      </li>
    </ol>

    <div data-dir-pagination-controls 
         data-on-page-change="_state.go('admin.provinces.index', { page: provinces.form.data.page })" 
         data-auto-hide="false">
    </div>
  </div>
  
  <p>
    <button class="btn btn-default btn-sm" data-ui-sref="admin.provinces.create">Add <span class=" fa fa-plus"></span></button>
  </p>
</div>
