<div data-af-loading="!organizations.resource.$resolved">
  <hr>
  
  <div data-ng-if="!organizations.resource.data.length">
    <p>Nothing found.</p>
  </div>
  
  <div data-ng-if="organizations.resource.data.length">
    <ol start="{{ (organizations.resource.perPage * (organizations.resource.currentPage - 1) + 1)  }}">
      <li data-dir-paginate="o in organizations.resource.data | itemsPerPage: organizations.resource.perPage" 
          data-total-items="organizations.resource.total" 
          data-current-page="organizations.form.data.page">
        <p>
          <a data-ui-sref="admin.organizations.show({ organizationId: o.id })">{{ o.name }}</a>
          <span data-ng-if="o.ilo.firstName" class="label label-info">{{ o.ilo.firstName }} {{ o.ilo.lastName }}</span>
          <span data-ng-if="o.isHidden" class="label label-warning">Hidden</span>
        </p>
      </li>
    </ol>

    <div data-dir-pagination-controls 
         data-on-page-change="_state.go('admin.organizations.index', { page: organizations.form.data.page })" 
         data-auto-hide="false">
    </div>
  </div>
  
  <p>
    <button class="btn btn-default btn-sm" data-ui-sref="admin.organizations.create">Add <span class=" fa fa-plus"></span></button>
  </p>
</div>
