<p data-af-page-title="Admin / Account"></p>

<h1 class="h3">Admin / Account</h1>

<div class="row">
  <div class="col-md-12">
    <br>
    <form name="accountForm" class="form-horizontal" role="form" novalidate>
      <div data-af-field data-af-field-label="First name">
        <input type="text" class="form-control" data-ng-model="_auth.user.firstName" disabled>
      </div>
      
      <div data-af-field data-af-field-label="Last name">
        <input type="text" class="form-control" data-ng-model="_auth.user.lastName" disabled>
      </div>
      
      <div data-af-field data-af-field-label="Email">
        <input type="text" class="form-control" data-ng-model="_auth.user.email" disabled>
      </div>

      <div data-af-field data-af-field-label="Assigned role(s)">
        <div data-ng-repeat="r in _auth.user.roles">
          <div class="checkbox">
            <label>
              <input type="checkbox" data-ng-selected="true" checked disabled> {{ r.name }}
            </label>
          </div>
        </div>
      </div>      
      
      <div data-af-field data-af-field-label="Date last logged in">
        <input type="text" class="form-control" data-ng-model="_auth.user.dateLastLogin" disabled>
      </div>

      <div data-af-field data-af-field-label="Date last pinged">
        <input type="text" class="form-control" data-ng-model="_auth.user.dateLastPinged" disabled>
      </div>    

      <div data-af-field data-af-field-label="Date created">
        <input type="text" class="form-control" data-ng-model="_auth.user.dateCreated" disabled>
      </div> 

      <div data-af-field data-af-field-label="Date updated">
        <input type="text" class="form-control" data-ng-model="_auth.user.dateUpdated" disabled>
      </div>       
    </form>

    <p>
      <a data-ui-sref="admin.users.show({ userId: _auth.user.id })">
        <button class="btn btn-default">Edit <span class="fa fa-pencil"></span></button>
      </a>
    </p>
  </div>
</div>
