<div>
  <br>
  <form class="form-horizontal" name="disciplineForm" role="form" novalidate>
    <div data-af-field="Name*">
      <input type="text" class="form-control" name="disciplineName" 
             data-ng-model="discipline.name" placeholder="E.g. Automobile" maxlength="50" required>
    </div>
    
    <p>
      <button class="btn btn-default btn-sm" 
              data-ng-disabled="disciplineForm.$pristine || disciplineForm.$invalid || loading.create" 
              data-ng-click="create()">
        Add <span class="fa fa-check"></span>
      </button>

      <button class="btn btn-default btn-sm" 
              data-ng-click="clear(disciplineForm)" 
              data-ng-disabled="disciplineForm.$pristine || loading.create">
        Clear <span class="fa fa-refresh"></span>
      </button>
    </p>
  </form>
</div>
