<div data-af-loading="!facilities.fr.$resolved">
  <hr>
  
  <div data-ng-hide="facilities.fr.data.length">
    <p>Nothing found.</p>
  </div>
  
  <div data-ng-show="facilities.fr.data.length">
    <div data-dir-paginate="f in facilities.fr.data | itemsPerPage: facilities.fr.perPage" data-total-items="facilities.fr.total" data-pagination-id="facilityRepository" data-current-page="facilities.form.data.page">
      <p>
        {{ $index + 1 + (facilities.fr.perPage * (facilities.fr.currentPage - 1)) }}. <a data-ui-sref="admin.facilities.show({ facilityRepositoryId: f.id })">{{ f.data.facility.name }}</a>
        <span class="label label-info" data-ng-show="f.state == 'PENDING_EDIT_APPROVAL' || f.state == 'REJECTED_EDIT'">Edit</span>
      </p>
    </div>
    
    <hr>
    
    <div data-dir-pagination-controls data-on-page-change="facilities.index()" data-pagination-id="facilityRepository" data-auto-hide="false"></div>
  </div>
</div>
