<div data-af-loading="!fr.$resolved || (!facility.organization.$resolved && !facility.organization.name) || !facility.province.$resolved || loading.disciplines || loading.sectors">
  <div style="padding: 3px;">
    <h4>Record Information</h4>
    
    <p>
      <label>State:</label>
        <b>
          <span class="text-info" data-ng-show="fr.state == 'PENDING_APPROVAL'">PENDING APPROVAL</span>
          <span class="text-info" data-ng-show="fr.state == 'PENDING_EDIT_APPROVAL'">PENDING EDIT APPROVAL</span>
          <span class="text-success" data-ng-show="fr.state == 'PUBLISHED'">PUBLISHED</span>
          <span class="text-success" data-ng-show="fr.state == 'PUBLISHED_EDIT'">PUBLISHED EDIT</span>
          <span class="text-danger" data-ng-show="fr.state == 'REJECTED'">REJECTED</span>
          <span class="text-danger" data-ng-show="fr.state == 'REJECTED_EDIT'">REJECTED EDIT</span>
        </b>
    </p>
    
    <p>
      <label>Search visiblity: </label>
      <span data-ng-show="fr.facility.isPublic">Public</span>
      <span data-ng-show="!fr.facility.isPublic">Private</span>
      <span class="label label-default" data-ng-show="fr.state != 'PUBLISHED' && fr.state != 'PUBLISHED_EDIT'">N/A</span>
    </p>
    
    <p>
      <label>Reviewed by:</label>
      {{ fr.reviewer.firstName }} {{ fr.reviewer.lastName }}
      <span class="label label-default" data-ng-show="fr.state == 'PENDING_APPROVAL' || fr.state == 'PENDING_EDIT_APPROVAL'">N/A</span>
    </p>
    
    <p>
      <label>Reviewer message:</label>
      {{ fr.reviewerMessage }}
      <span class="label label-default" data-ng-show="fr.state == 'PENDING_APPROVAL' || fr.state == 'PENDING_EDIT_APPROVAL'">N/A</span>
      <span class="label label-default" data-ng-show="(fr.state != 'PENDING_APPROVAL' && fr.state != 'PENDING_EDIT_APPROVAL') && !fr.reviewerMessage">No message was provided.</span>
    </p>
  </div>
  <br>
  
  <div data-ng-include="'views/includes/facility.html'"></div>
  <br>
  <br>
  
  <div data-ng-show="facility.organization.ilo.firstName">
    <div data-ng-include="'views/includes/ilo.html'"></div>
    <br>
    <br>
  </div>
  
  <div data-ng-include="'views/includes/contacts.html'"></div>
  <br>
  <br>
  
  <div data-ng-include="'views/includes/equipment.html'"></div>
  
  <div style="padding: 3px;" data-ng-show="fr.state == 'PENDING_APPROVAL' || fr.state == 'PENDING_EDIT_APPROVAL'">
    <hr>
    <br>
    
    <div class="row">
      <div class="col-sm-3" data-ng-class="{ 'text-right': _window.innerWidth >= _bootstrap.grid.breakpoints.sm }">
        <label>Reviewer message</label>
        <p>This is optional, will be included in the email to the primary contact</p>
      </div>
    
      <div class="col-sm-7">
        <div class="form-group">
          <textarea class="form-control" id="reviewerMessage" rows="7" data-ng-model="form.data.reviewerMessage"></textarea>
        </div>
      </div>
    </div>
    
    <p>
      <button type="button" class="btn btn-default" data-ng-click="loading.selectedButton = 'approve'; approve();" data-ng-show="fr.state == 'PENDING_APPROVAL'" data-af-loading-btn="frPromise.$resolved === false && loading.selectedButton == 'approve'" data-ng-disabled="frPromise.$resolved === false">Approve <span class="glyphicon glyphicon-ok"></span></button>
      <button type="button" class="btn btn-default" data-ng-click="loading.selectedButton = 'reject'; reject();" data-ng-show="fr.state == 'PENDING_APPROVAL'" data-af-loading-btn="frPromise.$resolved === false && loading.selectedButton == 'reject'" data-ng-disabled="frPromise.$resolved === false">Reject <span class="glyphicon glyphicon-remove"></span></button>
      <button type="button" class="btn btn-default" data-ng-click="loading.selectedButton = 'approveEdit'; approveEdit();" data-ng-show="fr.state == 'PENDING_EDIT_APPROVAL'" data-af-loading-btn="frPromise.$resolved === false && loading.selectedButton == 'approveEdit'" data-ng-disabled="frPromise.$resolved === false">Approve Edit <span class="glyphicon glyphicon-ok"></span></button>
      <button type="button" class="btn btn-default" data-ng-click="loading.selectedButton = 'rejectEdit'; rejectEdit();" data-ng-show="fr.state == 'PENDING_EDIT_APPROVAL'" data-af-loading-btn="frPromise.$resolved === false && loading.selectedButton == 'rejectEdit'" data-ng-disabled="frPromise.$resolved === false">Reject Edit <span class="glyphicon glyphicon-remove"></span></button>
    </p>
  </div>
</div>