<div class="row">
  <div class="col-lg-12">
    <h2>Control Panel</h2>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">List of Facilities</h3>
      </div>
      
      <div class="panel-body">
        
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Facility</h3>
      </div>
      
      <div class="panel-body">
        
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Request for Update</h3>
      </div>
      
      <div class="panel-body">
        Send an email to the primary contact..
      </div>
    </div>
  </div>
</div>