<div>
  <br>
  <form class="form-horizontal" name="provinceForm" role="form" novalidate>
    <div data-af-field data-af-field-label="Name*" data-af-field-model="province.name">
      <input type="text" class="form-control" name="provinceName" data-ng-model="province.name" placeholder="E.g. Nova Scotia" maxlength="50" required>
    </div>
    
    <div data-af-field data-af-field-label="Is hidden*">
      <select class="form-control" 
              name="provinceVisibility" 
              data-ng-model="province.isHidden" 
              data-ng-options="i.value as i.key for i in [{ key: 'Yes', value: 1 }, { key: 'No', value: 0 }]" 
              required>
      </select>
    </div>
    
    <p>
      <button class="btn btn-default btn-sm" 
              data-ng-disabled="provinceForm.$pristine || provinceForm.$invalid || loading.create" 
              data-ng-click="create()">
        Add <span class="fa fa-check"></span>
      </button>

      <button class="btn btn-default btn-sm" 
              data-ng-click="clear(provinceForm)" 
              data-ng-disabled="provinceForm.$pristine || loading.create">
        Clear <span class="fa fa-refresh"></span>
      </button>
    </p>
  </form>
</div>
