<p data-af-page-title="Contact"></p>

<div data-af-loading="!wp.$resolved">
  <div data-bind-html-compile="wp.content.rendered"></div>

  <form name="contactForm" role="form" novalidate style="max-width: 500px;">
    <br>

    <!-- Contact form. -->
    <div data-ng-show="view.show === 'CONTACT_FORM'">    
      <div data-af-field="Name*" data-af-field-is-md="true" data-af-field-is-vertical="true">
        <input type="text" name="name" class="form-control" 
              data-ng-model="message.name" maxlength="50" data-ng-disabled="resource.$resolved === false" required>
      </div>
    
      <div data-af-field="Email*" data-af-field-is-md="true" data-af-field-is-vertical="true">
        <input type="email" name="email" class="form-control"
              data-ng-model="message.email"
              data-ng-model-options="{ debounce: 500 }"
              maxlength="254" data-ng-disabled="resource.$resolved === false" required>
      </div>
      
      <div data-af-field="Subject" data-af-field-is-md="true" data-af-field-is-vertical="true">
        <input type="text" name="subject" class="form-control"
              data-ng-model="message.subject" data-ng-disabled="resource.$resolved === false" maxlength="50">
      </div> 
      
      <div data-af-field="Message*" data-af-field-is-md="true" data-af-field-is-vertical="true">
        <textarea class="form-control" name="message" rows="6"
                  data-ng-model="message.body" 
                  maxlength="1000" 
                  data-ng-disabled="resource.$resolved === false" required>
        </textarea>
      </div>
      
      <p>
        <button type="button" 
                class="btn btn-default"
                data-ng-click="submit(contactForm)"
                data-af-loading-btn="resource.$resolved === false"
                data-af-loading-btn-text="Sending..."
                data-ng-disabled="resource.$resolved === false || contactForm.$invalid">
          Submit <span class="fa fa-paper-plane"></span>
        </button>
      </p>
    </div>
    
    <!-- Success message. -->
    <div data-ng-show="view.show === 'SUCCESS'">
      <p class="text-success">
        Thank you! Your message was successfully sent. Would you like to submit another one? Click
        <a href="" data-ng-click="reset(contactForm)">here</a>.
      </p>
    </div>
    
    <!-- Failure message. -->
    <div data-ng-show="view.show === 'FAILURE'">
      <p class="text-danger">
        Sorry, it looks like we were not able to successfully submit your message.
      </p>
    </div>
  </form>
</div>


