<div class="row">
  <div class="col-lg-9">
    <div data-af-loading="!equipment.$resolved">
      <!-- ======================================================
        -- [START] Equipment section.
        -- ====================================================== !-->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">Equipment Information</h1>
        </div>
        
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 text-right"><label>Equipment</label></div>
            <div class="col-md-9">{{equipment.type}} {{equipment.manufacturer}} {{equipment.model}}</div>
          </div>
          
          <div class="row">
            <div class="col-md-3 text-right"><label>Purpose</label></div>
            <div class="col-md-9" data-ng-bind-html="equipment.purpose"></div>
          </div>
      
          <div class="row" data-ng-show="equipment.specifications">
            <div class="col-md-3 text-right"><label>Specifications</label></div>
            <div class="col-md-9" data-ng-bind-html="equipment.specifications"></div>
          </div>
        </div><!-- End of .panel-body -->
      </div><!-- End of .panel -->
      <!-- ======================================================
        -- [END] Equipment section.
        -- ====================================================== !-->
      
      <!-- ======================================================
        -- [START] Facility section.
        -- ====================================================== !-->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">Facility Information</h1>
        </div>
        
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 text-right"><label>Facility</label></div>
            <div class="col-md-9">{{equipment.facility.name}}</div>
          </div>
          
          <div class="row">
            <div class="col-md-3 text-right"><label>Institution</label></div>
            <div class="col-md-9">{{equipment.facility.institution.name}}</div>
          </div>
          
          <div class="row">
            <div class="col-md-3 text-right"><label>City</label></div>
            <div class="col-md-9">{{equipment.facility.city}}</div>
          </div>
          
          <div class="row">
            <div class="col-md-3 text-right"><label>Province</label></div>
            <div class="col-md-9">{{equipment.facility.province.name}}</div>
          </div>
          
          <div class="row" data-ng-show="equipment.facility.website">
            <div class="col-md-3 text-right"><label>Website</label></div>
            <div class="col-md-9"><a data-ng-href="{{equipment.facility.website}}" target="_blank">{{equipment.facility.website}}</a></div>
          </div>
          
          <div class="row">
            <div class="col-md-3 text-right"><label>Description</label></div>
            <div class="col-md-9" data-ng-bind-html="equipment.facility.description"></div>
          </div>
        </div><!-- End of .panel-body -->
      </div><!-- End of .panel -->       
      <!-- ======================================================
        -- [END] Facility section.
        -- ====================================================== !-->
      
      <!-- ======================================================
        -- [START] Contact section.
        -- ====================================================== !-->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">Contact Information</h1>
        </div>
        
        <div class="panel-body">
          <div data-ng-repeat="c in equipment.facility.contacts">
            <div class="row">
              <div class="col-md-3 text-right"><label>Name</label></div>
              <div class="col-md-9">{{c.firstName}} {{c.lastName}}</div>
            </div>
            
            <div class="row">
              <div class="col-md-3 text-right"><label>Email</label></div>
              <div class="col-md-9"><a data-ng-href="mailto:{{c.email}}">{{c.email}}</a></div>
            </div>
            
            <div class="row">
              <div class="col-md-3 text-right"><label>Telephone</label></div>
              <div class="col-md-9">{{c.telephone}}</div>
            </div>
            
            <div class="row" data-ng-show="c.position">
              <div class="col-md-3 text-right"><label>Position</label></div>
              <div class="col-md-9">{{c.position}}</div>
            </div>
            
            <div class="row" data-ng-show="c.website">
              <div class="col-md-3 text-right"><label>Website</label></div>
              <div class="col-md-9"><a href="{{c.website}}" target="_blank">{{c.website}}</a></div>
            </div>
            
            <hr data-ng-show="$index !== (equipment.facility.contacts.length - 1)">
          </div><!-- End of ng-repeat -->
        </div><!-- End of .panel-body -->
      </div><!-- End of .panel -->
      <!-- ======================================================
        -- [END] Contact section.
        -- ====================================================== !-->
      
      <p>
        <button type="button" class="btn btn-default" data-ng-click="viewCompleteFacility()">View Complete Facility</button>
      </p>
    </div>
  </div><!-- End of .col-x-x -->
</div><!-- End of .row -->