<div style="margin: {{ _math.max(0, (_window.innerHeight / 2) - (356 / 2)) }}px auto"> 
  <div class="text-center">    
    <img src="images/afred-symbol-bottom-text 200x170.png" alt="AFRED Logo">
    
    <div class="h1">
      :(
    </div>
    
    <div data-ui-view></div>
    
    <!-- Don't show a link to the home page if status >= 500. -->
    <div data-ng-if="httpStatusCode <= 500">
      <p>Click <a data-ui-sref="search">here</a> to get back to the homepage.</p>
    </div>
  </div>
</div>
