<div>
  <h3>Keep your Facility Up-to-date</h3>
  
  <p>
    If you are listed as a contact (primary or not) for a facility, you will be able to update it.
  </p>
  
  <p>
    <ul>
      <li>
        Input your email into the form below and click "Search".
        A list of facilities attached to your email will then be retrieved.
      </li>
      <li>
        Click the 'Email token' button next to the facility you wish to update.
        An email will be sent to the email address listed in the form.
        Please follow the instructions in that email.
        <span class="text-muted">
          <i>
            Note: If an "Email token" button is not shown below the name of the facility you wish to update,
            that means that an update request has already been made.
            Only a single update request is allowed at a time per facility.
          </i>
        </span>
      </li>
    </ul>
  </p>
    
  <p>
    If you are having trouble with this form, please contact {{_config.contacts.general.name}} at <a href="mailto:{{ _config.contacts.general.email }}">{{_config.contacts.general.email}}</a>
  </p>
  
  <br>
  <form class="form-inline" data-ng-submit="reset(); submit();" novalidate>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">Email</div>
        <input type="text" class="form-control" id="Email" data-ng-model="form.data.email" data-ng-change="reset()" placeholder="me@example.com">
      </div>
    </div>
    
    <button type="submit" class="btn btn-default" data-af-loading-btn="fr.$resolved === false && pagination.page == 1" data-ng-disabled="fr.$resolved === false" data-af-loading-btn-text="Searching...">Search <span class="fa fa-search"></span></button>
  </form>
  
  <div data-ng-show="view.show == 'NO_RESULTS_MESSAGE'">
    <hr>
    <p>No matching facilities found with the email address provided.</p>
  </div>
  
  <br>
  <div data-ng-show="view.show == 'RESULTS'">
    <div class="panel panel-default">
      <div class="panel-body">
        <div data-ng-repeat="facility in facilities">
          <p>
            <a href="{{ _config.app.address }}/facilities/{{ facility.id }}" target="_blank">{{ facility.name }}</a> | {{ facility.city }}
          </p>
          
          <p data-ng-show="facility.status == 'OPEN' || facility.status == 'PENDING'">
              <span class="label label-info">{{ facility.status }}</span> <span class="label label-info">{{ facility.editorFirstName }} {{ facility.editorLastName }}</span>           
          </p>
          
          <p data-ng-hide="facility.status == 'OPEN' || facility.status == 'PENDING'">
            <button class="btn btn-default btn-xs" data-ng-click="form.buttons.selectedIndex = $index; requestToken($index, facility.id)" data-af-loading-btn="ful.$resolved === false && form.buttons.selectedIndex === $index" data-af-loading-btn-text="Emailing..." data-ng-disabled="ful.$resolved === false">Email token <span class="fa fa-send"></span></button>
          </p>
          <hr data-ng-hide="$index == facilities.length - 1">
        </div>
      </div>
    </div>
    
    <p>
      <button type="button" class="btn btn-default" data-ng-click="pagination.page = pagination.page + 1; submit()" data-af-loading-btn="fr.$resolved === false" data-ng-disabled="fr.$resolved === false || fr.currentPage == fr.lastPage">Load more <span class="fa fa-plus"></span></button>
    </p>
  </div>
</div>