<div class="row">
  <div class="col-lg-12">
    <h3>Submit a Facility</h3>
    
    <div data-af-loading="loading.form" data-ng-show="view.show == 'form'">
      <div data-ng-include="'views/includes/facilities.form.html'"></div>
    </div>
    
    <div data-ng-show="view.show == 'preview'">
      <div data-ng-include="'views/includes/facility-section.html'"></div>
      <div data-ng-include="'views/includes/contacts-section.html'"></div>
      <div data-ng-include="'views/includes/equipment-section.html'"></div>
      <button class="btn btn-default" data-ng-click="submit()">Submit</button>
      <button class="btn btn-default" data-ng-click="view.show = 'form'">Go Back</button>
    </div>
    
    <div data-ng-show="view.show == 'successMessage'">
      <p>Thanks! Click <a data-ui-sref="search">here</a> to get back to the homepage.</p>
    </div>
    
    <div data-ng-show="view.show =='failureMessage'">
      <p>Oh no... something went wrong!</p>
      {{r}}
    </div>
    
  </div><!-- End of .col-x-x -->
</div><!-- End of .row -->