<div>
  <h3>Update</h3>
  
  <p>
    Please use the form below to generate a special token that will be email to

  </p>
  
  <div class="row">
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <form data-ng-submit="submit()" novalidate>
            <div data-af-field data-af-field-label="Email">
              <input class="form-control" id="email" name="email" data-ng-model="form.email" data-ng-change="reset()">
            </div>
            
            <p>
              <button type="button" class="btn btn-default btn-sm" data-ng-click="submit()" data-af-loading-btn="facilities.$resolved === false" data-ng-disabled="facilities.$resolved === false">Submit</button>
            </p>
          </form>
          
          <div>
            <div data-ng-show="view.show == 'NO_RESULTS_MESSAGE'">
              <hr>
              <p>No results.</p>
            </div>
            
            <div data-ng-show="facilities.data.length && facilities.$resolved">
              <hr>
              <table class="table">
                <thead>
                  <tr>
                    <th>Facility</th>
                    <th><!-- empty --></th>
                  </tr>
                </thead>
                
                <tbody>
                  <tr data-dir-paginate="facility in facilities.data | itemsPerPage: facilities.perPage" data-total-items="facilities.total">
                    <td><a href="{{ _config.appAddress }}/#/facilities/{{ facility.id }}" target="_blank">{{ facility.name }}</a></td>
                    <td>
                      <button class="btn btn-default btn-xs" data-ng-click="form.buttons.selectedIndex = $index; requestToken($index, facility.id)" data-ng-hide="facility.status" data-af-loading-btn="ful.$resolved === false && form.buttons.selectedIndex === $index" data-ng-disabled="ful.$resolved === false">Email token</button>
                      <span class="label label-warning" data-ng-show="facility.status == 'OPEN' || facility.status == 'PENDING  '">Token requested by {{ facility.editorFirstName }} {{ facility.editorLastName }}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
              
              <div data-dir-pagination-controls data-on-page-change="submit(newPageNumber)"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>