<div class="row">
  <div class="col-lg-12">
    <h3>Edit a Facility</h3>
    
    <div data-ng-show="showForm">
      <div data-ng-include="'views/includes/facilities.form.html'"></div>
    </div>
    
    <div data-ng-show="showPreview">
      <div data-ng-include="'views/includes/facility-section.html'"></div>
      <div data-ng-include="'views/includes/contacts-section.html'"></div>
      <div data-ng-include="'views/includes/equipment-section.html'"></div>
      <button class="btn btn-default" data-ng-click="submit()">Submit</button>
      <button class="btn btn-default" data-ng-click="form()">Go Back</button>
    </div>
  </div><!-- End of .col-x-x -->
</div><!-- End of .row -->