<!-- state: facilities.show -->
<div data-ng-if="_state.is('facilities.show')">
  <div data-af-loading="!facilities.resource.$resolved">      
    <!-- Facility data. -->
    <div data-af-facility="all" data-af-facility-model="facilities.resource"></div>
  </div>
</div>

<!-- state: facilities.show.equipment.show -->
<div data-ui-view></div>

<!-- Date published and date updated. -->
<div data-ng-show="(_state.is('facilities.show') && facilities.resource.$resolved) || (_state.is('facilities.show.equipment.show') && facilities.equipment.resource.$resolved)">
  <hr>
  <p>
    <small>
      <!-- Date published. -->
      <label>Published:</label>
      <time itemprop="datePublished" datetime="{{ facilities.resource.datePublished | afSchemaDate }}">
        {{ facilities.resource.datePublished | afStrToDate | date:'EEEE, MMM d, y h:mm:ss a' }}
        </time>

      <!-- Date updated. -->
      <span data-ng-if="facilities.resource.datePublished != facilities.resource.dateUpdated">
        | <label>Updated:</label>
        <time itemprop="dateModified" datetime="{{ facilities.resource.dateUpdated | afSchemaDate }}">
          {{ facilities.resource.dateUpdated | afStrToDate | date:'EEEE, MMM d, y h:mm:ss a' }}
        </time>
      </span>
    </small>
  </p>
</div>
