<div>
  <h2>Update</h2>
  
  <div class="panel panel-default">
    <div class="panel-body">
      <form data-ng-submit="submit()" novalidate>
        <div data-af-field data-af-field-label="Email">
          <input class="form-control" id="email" name="email" data-ng-model="form.email" data-ng-change="reset()">
        </div>
        
        <p>
          <button type="button" class="btn btn-default" data-ng-click="submit()">Submit</button>
        </p>
      </form>
      
      <div data-af-loading="loading.facilities">
        <div data-ng-show="view.show == 'noResultsMessage'">
          <hr>
          <p>No results.</p>
        </div>
        
        <div data-ng-show="facilities.data.length && !loading.facilities">
          <hr>
          <table class="table">
            <thead>
              <tr>
                <th>Facility</th>
                <th><!-- empty --></th>
              </tr>
            </thead>
            
            <tbody>
              <tr data-dir-paginate="facility in facilities.data | itemsPerPage: facilities.perPage" data-total-items="facilities.total">
                <td>{{facility.name}}</td>
                <td>
                  <button class="btn btn-default btn-xs" data-ng-click="requestEditToken(facility.id)" data-ng-hide="facility.facilityEditRequestId">Email Token</button>
                  <span class="label label-warning" data-ng-show="facility.facilityEditRequestId">Edit token requested</span>
                </td>
              </tr>
            </tbody>
          </table>
          
          <div data-dir-pagination-controls data-on-page-change="submit(newPageNumber)"></div>
        </div>
      </div>
    </div>
  </div>
</div>