<div data-af-loading="!facilities.equipment.resource.$resolved">      
  <div data-af-facility="equipment" data-af-facility-model="facilities.equipment.resource"></div>
  
  <p>
    <button type="button" class="btn btn-default btn-sm" data-ui-sref="facilities.show({ facilityId: facilities.equipment.resource.id })">View Complete Listing</button>
  </p>
  
  <div data-af-facility="facility" data-af-facility-model="facilities.equipment.resource"></div>
  
  <div data-af-facility="contacts" data-af-facility-model="facilities.equipment.resource"></div>
  
  <div data-af-facility="ilo" data-af-facility-model="facilities.equipment.resource"></div>
</div>
