<div class="row">
  <div class="col-lg-9">
    <div data-loading="loading.facility || loading.institution || loading.contacts || loading.equipment">
      <div class="panel panel-warning" data-ng-show="templateMode.facility && !facility.isActive">
        <div class="panel-body">
          <p>This facility has been deactivated</p>
        </div>
      </div>
      
      <div data-ng-include="panels.first"></div>
      
      <div data-ng-include="panels.second"></div>
      
      <div data-ng-include="panels.third"></div>
      
      <p>
        <button type="button" class="btn btn-default" data-ng-click="viewFacility()" data-ng-show="templateMode.equipment">View Facility</button>
        <button type="button" class="btn btn-warning" data-ng-click="edit()" data-ng-show="templateMode.facility">Edit</button>
        <button type="button" class="btn btn-warning" data-ng-click="deactivate()" data-ng-show="templateMode.facility">Deactivate</button>
        <button type="button" class="btn btn-default" data-ng-click="reactivate()" data-ng-show="templateMode.facility">Reactivate</button>
        <button type="button" class="btn btn-danger" data-ng-click="remove()" data-ng-show="templateMode.facility">Delete</button>
      </p>
    </div>
  </div><!-- End of .col-x-x -->
</div><!-- End of .row -->

<script type="text/ng-template" id="facility-panel.html">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">Facility Information</h1>
    </div>
    
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3 text-right"><label>Facility</label></div>
        <div class="col-md-9">{{facility.name}}</div>
      </div>
      
      <div class="row">
        <div class="col-md-3 text-right"><label>Institution</label></div>
        <div class="col-md-9">{{facility.institution.name}}</div>
      </div>
      
      <div class="row">
        <div class="col-md-3 text-right"><label>City</label></div>
        <div class="col-md-9">{{facility.city}}</div>
      </div>
      
      <div class="row">
        <div class="col-md-3 text-right"><label>Province</label></div>
        <div class="col-md-9">{{facility.province}}</div>
      </div>
      
      <div class="row" data-ng-show="facility.website">
        <div class="col-md-3 text-right"><label>Website</label></div>
        <div class="col-md-9"><a data-ng-href="{{facility.website}}" target="_blank">{{facility.website}}</a></div>
      </div>
      
      <div class="row">
        <div class="col-md-3 text-right"><label>Description</label></div>
        <div class="col-md-9" data-ng-bind-html="facility.description"></div>
      </div>
    </div><!-- End of .panel-body -->
  </div><!-- End of .panel -->
</script>

<script type="text/ng-template" id="contact-panel.html">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">Contact Information</h1>
    </div>
    
    <div class="panel-body">
      <div data-ng-repeat="c in facility.contacts">
        <div class="row">
          <div class="col-md-3 text-right"><label>Name</label></div>
          <div class="col-md-9">{{c.firstName}} {{c.lastName}}</div>
        </div>
        
        <div class="row">
          <div class="col-md-3 text-right"><label>Email</label></div>
          <div class="col-md-9"><a data-ng-href="mailto:{{c.email}}">{{c.email}}</a></div>
        </div>
        
        <div class="row">
          <div class="col-md-3 text-right"><label>Telephone</label></div>
          <div class="col-md-9">{{c.telephone}}</div>
        </div>
        
        <div class="row" data-ng-show="c.position">
          <div class="col-md-3 text-right"><label>Position</label></div>
          <div class="col-md-9">{{c.position}}</div>
        </div>
        
        <div class="row" data-ng-show="c.website">
          <div class="col-md-3 text-right"><label>Website</label></div>
          <div class="col-md-9"><a href="{{c.website}}" target="_blank">{{c.website}}</a></div>
        </div>
        
        <hr data-ng-show="$index !== (facility.contacts.length - 1)">
      </div><!-- End of ng-repeat -->
    </div><!-- End of .panel-body -->
  </div><!-- End of .panel -->
</script>

<script type="text/ng-template" id="equipment-panel.html">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">Equipment Information</h1>
    </div>
    
    <div class="panel-body">
      <div data-ng-repeat="e in facility.equipment">
        <div class="row">
          <div class="col-md-3 text-right"><label>Equipment</label></div>
          <div class="col-md-9">{{e.name}}</div>
        </div>
        
        <div class="row">
          <div class="col-md-3 text-right"><label>Purpose</label></div>
          <div class="col-md-9" data-ng-bind-html="e.purpose"></div>
        </div>
    
        <div class="row" data-ng-show="e.specifications">
          <div class="col-md-3 text-right"><label>Specifications</label></div>
          <div class="col-md-9" data-ng-bind-html="e.specifications"></div>
        </div>
        
        <hr data-ng-show="$index !== (facility.equipment.length - 1)">
      </div><!-- End of ng-repeat -->
    </div><!-- End of .panel-body -->
  </div><!-- End of .panel -->
</script>