<p data-af-page-title="Home"></p>

<!-- Header (logo and search bar). -->
<div class="container-fluid af-home-header">
  <div><!-- AFRED Logo container. --></div>

  <!-- Search bar. -->
  <div class="text-center">
    <form class="form-inline" data-ng-submit="search.q && search.run()">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control input-lg" data-ng-model="search.q" placeholder="E.g. electron microscope">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default btn-lg">
              <span class="fa fa-search"></span>
            </button>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Submit your facility bar. -->
<div class="af-home-submit-your-facility-bar" 
     data-ng-class="{ 'text-center': _getWidth() < _bootstrap.md }">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <p class="h2">
          <span class="fa fa-gears fa-3x"></span>
        </p>
      </div>

      <div class="col-md-6">
        <p class="h2">
          Do you have research <br data-ng-show="_getWidth() >= _bootstrap.md">facilities or equipment?
        </p>
      </div>

      <div class="col-md-4">
        <p class="af-heading">
          <button class="btn btn-default btn-lg btn-outline" 
                  data-ng-class="{ 'pull-right': _getWidth() >= _bootstrap.md }" 
                  data-ng-click="_state.go('facilities.form.create')">
            Submit your facility <span class="fa fa-arrow-right"></span>
          </button>
        </p>
      </div>
    </div>

    <p data-ng-class="{ 'pull-right': _getWidth() >= _bootstrap.md }">
      Already submitted? <a data-ui-sref="facilities.update">Update your facility here</a>.
    </p>
  </div>
</div>

<div class="container">
  <!-- Here's what AFRED can do you for. -->
  <div class="af-home-what-can-afred-do-for-you">
    <p class="h3">Here's what AFRED can do for you!</p>
    
    <div class="row">
      <div class="col-md-3">
        <div class="row">
          <div data-ng-class="{ 'col-sm-3': _getWidth() >= _bootstrap.md,
                                'col-sm-1': _getWidth() < _bootstrap.md }">
            <p class="h4">
              <span class="fa-stack fa-lg">
                <span class="fa fa-circle fa-stack-2x"></span>
                <span class="fa fa-star fa-stack-1x fa-inverse"></span>
              </span>
            </p>
          </div>

          <div data-ng-class="{ 'col-sm-9': _getWidth() >= _bootstrap.md,
                                'col-sm-11': _getWidth() < _bootstrap.md }">
            <p class="h4">Research Intensification</p>
          </div>
        </div>
        
        <p>
          Drive research intensification and strengthen the research community
          in Atlantic Canada.
        </p>
      </div>

      <div class="col-md-3">
        <div class="row">
          <div data-ng-class="{ 'col-sm-3': _getWidth() >= _bootstrap.md,
                                'col-sm-1': _getWidth() < _bootstrap.md }">
            <p class="h4">
              <span class="fa-stack fa-lg">
                <span class="fa fa-circle fa-stack-2x"></span>
                <span class="fa fa-puzzle-piece fa-stack-1x fa-inverse"></span>
              </span>
            </p>
          </div>

          <div data-ng-class="{ 'col-sm-9': _getWidth() >= _bootstrap.md,
                                'col-sm-11': _getWidth() < _bootstrap.md }">
            <p class="h4">Partnerships & Collaborations</p>
          </div>
        </div>

        <p>Foster new partnerships and collaborations between researchers, industry, and government.</p>
      </div>

      <div class="col-md-3">
        <div class="row">
          <div data-ng-class="{ 'col-sm-3': _getWidth() >= _bootstrap.md,
                                'col-sm-1': _getWidth() < _bootstrap.md }">
            <p class="h4">
              <span class="fa-stack fa-lg">
                <span class="fa fa-circle fa-stack-2x"></span>
                <span class="fa fa-usd fa-stack-1x fa-inverse"></span>
              </span>
            </p>
          </div>

          <div data-ng-class="{ 'col-sm-9': _getWidth() >= _bootstrap.md,
                                'col-sm-11': _getWidth() < _bootstrap.md }">
            <p class="h4">Cost Savings</p>
          </div>
        </div>

        <p>
          Facilitate cost savings and speed to solutions through access to sophisticated technical infrastructure and
          expertise.
        </p>
      </div>

      <div class="col-md-3">
        <div class="row">
          <div data-ng-class="{ 'col-sm-3': _getWidth() >= _bootstrap.md,
                                'col-sm-1': _getWidth() < _bootstrap.md }">
            <p class="h4">
              <span class="fa-stack fa-lg">
                <span class="fa fa-circle fa-stack-2x"></span>
                <span class="fa fa-line-chart fa-stack-1x fa-inverse"></span>
              </span>
            </p>
          </div>

          <div data-ng-class="{ 'col-sm-9': _getWidth() >= _bootstrap.md,
                                'col-sm-11': _getWidth() < _bootstrap.md }">
            <p class="h4">Revenue Generation</p>
          </div>
        </div>

        <p>
          Create new income opportunities for infrastructure owners by listing equipment and facilities available for
          use.
        </p>
      </div>
    </div>
  </div><!-- End of .home-what-can-afred-do-for-you -->

  <hr>

  <!-- 'Have a Look', 'What's New', 'Recent Tweets'. -->
  <div class="row">
    <div class="col-md-4">
      <p class="h3">Have a Look</p>
      
      <div data-af-loading="!haveALook.$resolved">
        <div data-af-http-error="haveALook.equipment.length < 1">
          <div data-ng-repeat="e in haveALook.equipment">
            <p style="padding-bottom: 3px;">
              <a data-ui-sref="facilities.show.equipment.show({ facilityId: e.facilityId, equipmentId: e.id })"
                 target="_blank">
                {{ e.type | afEllipses:(_getWidth() >= _bootstrap.md ? 35 : null) }}<br>
                <span style="color: #333">
                  {{ e.purposeNoHtml | afEllipses:(_getWidth() >= _bootstrap.md ? 100 : 200) }}
                </span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>  

    <div class="col-md-4">
      <div class="row" data-ng-if="_getWidth() < _bootstrap.md">
        <div class="col-md-12">
          <hr>
        </div>
      </div>

      <p class="h3">What's New</p>
      
      <div data-af-loading="!whatsNew.$resolved">
        <div data-af-http-error="!whatsNew.content.rendered">
          <div data-bind-html-compile="whatsNew.content.rendered"></div>
        </div>
      </div> 
    </div>

    <div class="col-md-4" id="homepage-twitter-widget">
      <div class="row" data-ng-if="_getWidth() < _bootstrap.md">
        <div class="col-md-12">
          <br><br>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <p class="h3" style="margin-top: 5px">Recent Tweets</p>

          <div data-af-loading="twitter.loaded === 0">
            <p data-af-http-error="twitter.loaded === -1">
              <a class="twitter-timeline" 
                data-chrome="noheader nofooter noborders"
                data-tweet-limit="2" href="https://twitter.com/AFREDatabase"
                data-ng-init="twitter.init('homepage-twitter-widget')">
                Tweets by AFREDatabase
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <!-- Supporters. -->
  <div class="row" id="partners-and-supporters">
    <div class="col-md-12">
      <p class="h3">Partners and Supporters</p>

      <div data-ng-if="_getWidth() >= 1000">
        <br>
        <div class="row">
          <div class="col-md-12">
            <p class="af-justify-image">
              <img src="images/canada-wordmark-322x77.jpg" alt="Canada Wordmark">
              <img src="images/sa-400x84.png" alt="Science Atlantic Logo">
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p class="af-justify-image">
              <img src="images/bionb-212x59.jpg" alt="BioNB Logo">
              <img src="images/dal-242x59.png" alt="Dalhousie University Logo">
              <img src="images/springboard-163x59.jpg" alt="Springboard Atlantic Logo">
              <img src="images/unb-148x59.jpg" alt="University of New Brunswick Logo">
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p class="af-justify-image">
              <img src="images/acadiau-243x44.jpg" alt="Acadia University Logo">
              <img src="images/pei-bioalliance-175x44.jpg" alt="PEI BioAlliance Logo">
              <img src="images/bionova-173x44.jpg" alt="BioNova Logo">
              <img src="images/cbu-160x44.jpg" alt="Cape Breton University Logo">
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p class="af-justify-image">
              <img src="images/creait-112x44.png" alt="CREAIT Logo">
              <img src="images/eosence-180x44.jpg" alt="Eosense Logo">
              <img src="images/mta-199x44.png" alt="Mount Allison University Logo">
              <img src="images/msvu-136x44.jpg" alt="Mount Saint Vincent University Logo">
              <img src="images/naia-64x44.jpg" alt="Newfoundland Aquaculture Industry Association Logo">
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p class="af-justify-image">
              <img src="images/smu-186x44.jpg" alt="Saint Mary's University Logo">
              <img src="images/stfx-141x44.jpg" alt="St. Francis Xavier University Logo">
              <img src="images/udem-177x44.jpg" alt="Université de Moncton Logo">
              <img src="images/upei-112x44.jpg" alt="University of Prince Edward Island Logo">
            </p>
          </div>
        </div>
      </div>
    
      <div data-ng-if="_getWidth() < 1000">
        <ul class="list-group">
          <li class="list-group-item">Science Atlantic</li>
          <li class="list-group-item">Atlantic Canada Opportunities Agency (ACOA)</li>
          <li class="list-group-item">Acadia University</li>
          <li class="list-group-item">BioNB</li>
          <li class="list-group-item">BioNova</li>
          <li class="list-group-item">Cape Breton University</li>
          <li class="list-group-item">Dalhousie University</li>
          <li class="list-group-item">Eosense</li>
          <li class="list-group-item">Memorial University’s Core Research Equipment &amp; Instrument Training Network (CREAIT)</li>
          <li class="list-group-item">Mount Allison University</li>
          <li class="list-group-item">Mount Saint Vincent University</li>          
          <li class="list-group-item">Newfoundland Aquaculture Industry Association</li>
          <li class="list-group-item">NSERC-Atlantic</li>
          <li class="list-group-item">PEI BioAlliance</li>
          <li class="list-group-item">Saint Mary's University</li>
          <li class="list-group-item">Springboard Atlantic</li>
          <li class="list-group-item">St. Francis Xavier University</li>
          <li class="list-group-item">Université de Moncton</li>
          <li class="list-group-item">University of New Brunswick</li>
          <li class="list-group-item">University of Prince Edward Island</li>
        </ul>
      </div>
    </div>
  </div><!-- End of #partners-and-supporters -->
</div> <!-- End of .container -->
