<p data-af-page-title="Home"></p>

<!-- Header (logo and search bar). -->
<div class="container-fluid home-header" style="background-image: url('images/home-header.png');">
  <div class="text-center">
    <!-- AFRED Logo for desktop screens. -->
    <div data-ng-if="_window.innerWidth > 500">
      <div style="margin: 50px 0;">
        <a data-ui-sref="home">
          <img src="images/afred-logo-colour-gradient-bottom-tagline-470x125.png" alt="AFRED logo">
        </a>
      </div>
    </div>
    
    <!-- AFRED Logo for small screens. -->
    <div data-ng-if="_window.innerWidth <= 500">
      <div class="text-center" style="margin: 20px 0;">
        <a data-ui-sref="home">
          <img src="images/afred-symbol-bottom-text 200x170.png" alt="AFRED logo">
        </a>
      </div> 
    </div>
  </div>

  <!-- Search form. -->
  <div class="text-center">
    <form class="form-inline" role="form" data-ng-submit="search.q && search.run()">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control input-lg home-search-bar" data-ng-model="search.q" placeholder="E.g. electron microscope">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default btn-lg">
              <span class="fa fa-search"></span>
            </button>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Submit your facility bar. -->
<div class="container-fluid home-submit-your-facility-bar">
  <div class="container"> 
    <div class="row">
      <div class="col-xs-12">
        <span class="pull-left">
          <span class="h1">
            <span class="fa fa-gears fa-3x" style="padding-right: 20px;" data-ng-if="_window.innerWidth > 500"></span>
          </span>
        </span>
        <span class="pull-left">
          <span class="h3">
            Do you have research <br>facilities or equipment?
          </span>
        </span>
        <span class="pull-right">
          <button class="btn btn-default btn-lg" data-ui-sref="facilities.form.create">
            Submit your facility <span class="fa fa-arrow-right"></span>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- Here's what AFRED can do you for. -->
  <p class="h3">Here's what AFRED can do for you!</p>
  <br>
  <div class="row">
    <div class="col-md-3">
      <p>
        <div class="row">
          <div data-ng-class="{'col-xs-3': _window.innerWidth >= _bootstrap.grid.breakpoints.md, 'col-xs-1': _window.innerWidth < _bootstrap.grid.breakpoints.md}">
            <span class="h1">
              <span class="fa fa-star"></span>
            </span>
          </div>

          <div data-ng-class="{'col-xs-9': _window.innerWidth >= _bootstrap.grid.breakpoints.md, 'col-xs-11': _window.innerWidth < _bootstrap.grid.breakpoints.md}">
            <span class="h4">Research Intensification</span>
          </div>
        </div> 
      </p>

      <p class="home-what-can-afred-do-for-you-description">
        Drive research intensification and strengthen the research community in 
        Atlantic Canada.
      </p>
      <br data-ng-if="_window.innerWidth < _bootstrap.grid.breakpoints.md">
    </div>

    <div class="col-md-3">
      <p>
        <div class="row">
          <div data-ng-class="{'col-xs-3': _window.innerWidth >= _bootstrap.grid.breakpoints.md, 'col-xs-1': _window.innerWidth < _bootstrap.grid.breakpoints.md}">
            <span class="h1">
              <span class="fa fa-puzzle-piece"></span>
            </span>
          </div>

          <div data-ng-class="{'col-xs-9': _window.innerWidth >= _bootstrap.grid.breakpoints.md, 'col-xs-11': _window.innerWidth < _bootstrap.grid.breakpoints.md}">
            <span class="h4">Partnerships & Collaborations</span>
          </div>
        </div> 
      </p>

      <p class="home-what-can-afred-do-for-you-description">
        Foster new partnerships and collaborations between researchers, industry,
        and government.
      </p>
      <br data-ng-if="_window.innerWidth < _bootstrap.grid.breakpoints.md">
    </div>

    <div class="col-md-3">
      <p>
        <div class="row">
          <div data-ng-class="{'col-xs-3': _window.innerWidth >= _bootstrap.grid.breakpoints.md, 'col-xs-1': _window.innerWidth < _bootstrap.grid.breakpoints.md}">
            <span class="h1">
              <span class="fa fa-usd"></span>
            </span>
          </div>

          <div data-ng-class="{'col-xs-9': _window.innerWidth >= _bootstrap.grid.breakpoints.md, 'col-xs-11': _window.innerWidth < _bootstrap.grid.breakpoints.md}">
            <span class="h4">Cost Savings</span>
          </div>
        </div> 
      </p>

      <p class="home-what-can-afred-do-for-you-description">
        Facilitate cost savings and speed to solutions through access to 
        sophisticated technical infrastructure and expertise.
      </p>
      <br data-ng-if="_window.innerWidth < _bootstrap.grid.breakpoints.md">
    </div>

    <div class="col-md-3">
      <p>
        <div class="row">
          <div data-ng-class="{'col-xs-3': _window.innerWidth >= _bootstrap.grid.breakpoints.md, 'col-xs-1': _window.innerWidth < _bootstrap.grid.breakpoints.md}">
            <span class="h1">
              <span class="fa fa-line-chart"></span>
            </span>
          </div>

          <div data-ng-class="{'col-xs-9': _window.innerWidth >= _bootstrap.grid.breakpoints.md, 'col-xs-11': _window.innerWidth < _bootstrap.grid.breakpoints.md}">
            <span class="h4">Revenue Generation</span>
          </div>
        </div> 
      </p>

      <p class="home-what-can-afred-do-for-you-description">
        Create new income opportunities for infrastructure owners by listing 
        equipment and facilities available for use.
      </p>
    </div>
  </div>

  <hr>

  <!-- Have a Look, What's New, Recent Tweets. -->
  <div class="row">
    <div class="col-md-4">
      <p class="h3">Have a Look</p>
      
      <div data-af-loading="!haveALook.$resolved">
        <div data-ng-repeat="e in haveALook.equipment">
          <p style="padding-bottom: 3px;">
            <a data-ui-sref="facilities.show.equipment.show({ facilityId: e.facilityId, equipmentId: e.id })" target="_blank">
              <!-- For large screens. -->
              <span data-ng-if="_window.innerWidth >= _bootstrap.grid.breakpoints.md">
                {{ e.type | limitTo: 35 }}<span data-ng-if="e.type.length > 35">...</span><br>
                <small class="text-muted">{{ e.purposeNoHtml | limitTo: 100 }}<span data-ng-if="e.purposeNoHtml.length > 100">...</span></small>
              </span>
              <!-- For smaller screens. -->
              <span data-ng-if="_window.innerWidth < _bootstrap.grid.breakpoints.md">
                {{ e.type }}<br>
                <small class="text-muted">{{ e.purposeNoHtml }}</small>
              </span>
            </a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <p class="h3">What's New</p>
      
      <p>
        <div data-af-loading="!whatsNew.$resolved">
          <div data-bind-html-compile="whatsNew.content.rendered"></div>
        </div>
      </p>
    </div>

    <div class="col-md-4">
      <p class="h3">Recent Tweets</p>

      <p>
        <a class="twitter-timeline" data-height="285" data-chrome="noheader nofooter noborders" href="https://twitter.com/AFREDatabase">Tweets by AFREDatabase</a>
      </p>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div> <!-- End of .container -->
