<p data-af-page-title="Search"></p>

<h1>Search</h1>

<!-- Advanced search options -->
<div data-ng-show="search.advanced.show" class="fx-fade-normal">
  <div data-ng-include="'views/includes/search.advanced.html'"></div>
</div>
  
<form role="form" data-ng-submit="search.goToResultsPage()">
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-btn">
        <button type="button" data-ng-click="search.advanced.toggle()" data-ng-class="{ active: search.advanced.show }" style="height: 46px;" class="btn btn-default btn-lg"><span class="fa fa-gear"></span></button>
      </span>
      <input class="form-control input-lg" data-ng-model="search.query.q" placeholder="E.g. MRI">
      <span class="input-group-btn">
        <button type="submit" style="height: 46px;" class="btn btn-default btn-lg"><span class="fa fa-search"></span></button>
      </span>
    </div>
  </div>
  
  <p>
    <a href="" data-ng-click="search.contactSpringboardAtlantic()">Can't find what you're looking for?</a>
  </p>
</form>
<br>

<!-- Search results go here -->
<div data-ui-view></div>

<!-- Show more button -->
<p data-ng-show="search.results.length">
  <button type="button" class="btn btn-default" data-ng-click="search.getResults(search.query.page + 1)" data-af-loading-btn="!search.resource.$resolved" data-ng-disabled="(search.resource.total == search.results.length) || !search.resource.$resolved">Show me more results</button>
</p>
