<form role="form">
  <div class="row">
    <div class="col-lg-6">
      <h2>Facility Information</h2>
      
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label for="facility-name">Name of research lab/facility*</label>
            <input type="text" class="form-control" id="facility-name">
          </div>
          
          <div class="form-group">
            <label for="facility-website">Website</label>
            <input type="url" class="form-control" id="facility-website">
          </div>
        </div><!-- End of .col-x-x -->
        
        <div class="col-lg-6">
          <div class="form-group">
            <label for="facility-institution">Institution*</label>
            <input type="text" class="form-control" id="facility-institution">
          </div>
          
          <div class="form-group">
            <label for="facility-city">City*</label>
            <input type="url" class="form-control" id="facility-city">
          </div>
          
          <div class="form-group">
            <label for="facility-province">Province*</label>
            <select class="form-control" id="facility-province">
              <option>Nova Scotia</option>
              <option>New Brunswick</option>
            </select>
          </div>
        </div><!-- End of .col-x-x -->
      </div><!-- End of .row -->
      
      <div class="form-group">
        <label for="facility-description">What the lab/facility does*</label>
        <textarea class="form-control" id="facility-description"></textarea>
      </div>
      
      <div class="form-group">
        <label for="facility-additional-info">Addtional information</label>
        <textarea class="form-control" id="facility-additional-info"></textarea>
      </div>
    </div><!-- End of .col-x-x -->
  </div><!-- End of .row -->
  
  <div class="row">
    <div class="col-lg-6">
      <h2>Contact Information</h2>
      
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label for="contact-first-name">First name*</label>
            <input type="text" class="form-control" id="contact-first-name">
          </div>
          
          <div class="form-group">
            <label for="contact-position">Position</label>
            <input type="text" class="form-control" id="contact-position">
          </div>
          
          <div class="form-group">
            <label for="contact-email">Email*</label>
            <input type="text" class="form-control" id="contact-email">
          </div>
        </div><!-- End of .col-x-x -->
        
        <div class="col-lg-6">
          <div class="form-group">
            <label for="contact-last-name">Last name*</label>
            <input type="text" class="form-control" id="contact-last-name">
          </div>
          
          <div class="form-group">
            <label for="contact-department">Department/office</label>
            <input type="text" class="form-control" id="contact-department">
          </div>
          
          <div class="form-group">
            <label for="contact-telephone">Telephone*</label>
            <input type="text" class="form-control" id="contact-telephone">
          </div>
        </div><!-- End of .col-x-x -->
      </div><!-- End of .row -->
    </div><!-- End of .col-x-x -->
  </div><!-- End of .row -->
  
  <!-- Equipment info -->
  <div class="row">
    <div class="col-lg-6">
      <h2>Equipment</h2>
      
      <div class="row">
        <div class="col-lg-12">      
          <div class="form-group">
            <label for="equipment-name">Equipment name*</label>
            <input type="text" class="form-control" id="equipment-name">
          </div>
          
          <div class="form-group">
            <label for="equipment-specs">Equipment specs</label>
            <textarea class="form-control" id="equipment-specs"></textarea>
          </div>
          
          <div class="form-group">
            <label for="equipment-purpose">Equipment purpose</label>
            <textarea class="form-control" id="equipment-purpose"></textarea>
          </div>
        </div><!-- End of .col-x-x -->
      </div><!-- End of .row -->
      
      <button class="btn btn-primary">Add more</button>
    </div><!-- End of .col-x-x -->
  </div><!-- End of .row -->
  
  <p>Please do not insert any HTML tags into this form</p>
</form>