/* File contains CSS custom classes. All classes are prefixed with 'af-'
 * except for the special Bootstrap add on classes.
----------------------------------------------------------------------------- */

/* Generic heading class (for cases when we don't want to use .h1, .h2,...).
----------------------------------------------------------------------------- */
.af-heading {
  font-family: 'Rubik', sans-serif;
}

/* Vertically align content class.
 * @see: http://stackoverflow.com/a/20548578
-------------------------------------------------- */
.af-vcenter {
    display: inline-block;
    vertical-align: middle;
}

/* Bold text style class.
----------------------------------------------------------------------------- */
.af-bold {
  font-weight: bold;
}

/* Inline-block style class.
----------------------------------------------------------------------------- */
.af-inline-block {
  display: inline-block;
}

/* Word wrap class for long URLs, emails, etc.
 * @see: https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
-------------------------------------------------- */
.af-word-break {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/* Justified images class
 * @see: http://stackoverflow.com/a/24782975
----------------------------------------------------------------------------- */
.af-justify-image { 
  text-align: justify;
}

.af-justify-image img { 
  display: inline-block;
}

.af-justify-image:after { 
  content: ""; 
  display: inline-block;
  width: 100%; 
  height: 0; 
}

/* Outline Bootstrap button styles.
 * @see: http://bootsnipp.com/snippets/featured/bootstrap-outline-buttons
----------------------------------------------------------------------------- */
.btn-outline {
  background-color: transparent;
  color: inherit;
  border: 2px solid #fff;
  transition: all .1s;
}

.btn-primary.btn-outline {
  color: #428bca;
}

.btn-success.btn-outline {
  color: #5cb85c;
}

.btn-info.btn-outline {
  color: #5bc0de;
}

.btn-warning.btn-outline {
  color: #f0ad4e;
}

.btn-danger.btn-outline {
  color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}
