/* Show vertical scroll bar on all pages for consistency */
html {
  overflow-y: scroll;
}

/* Static navbar styles
-------------------------------------------------- */
body {
  margin-top: 50px; /* Margin top by navbar height */
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 210px; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
}

/* Footer padding
-------------------------------------------------- */
footer {
  padding: 20px 0;
}

/* Remove rounded borders of main navbar
-------------------------------------------------- */
nav.navbar {
  border: 0;
}

/* Reduce left margin of main navbar
-------------------------------------------------- */
#main-navbar {
  margin-left: -18px;
}

/* Side list for the facility submission/edit form
 * (contacts, equipment)
-------------------------------------------------- */
table.table-list {
  table-layout: fixed;
  font-size: 0.9em;
}

table.table-list td:first-child {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
}

table.table-list td:last-child {
  width: 20%;
  text-align: left;
}

/* Set maximum size of content container
-------------------------------------------------- */
.container {
  max-width: 945px;
}
