/* File contains CSS styles, tweaks, etc that apply to either:
 * (1) The entire site.
 * (2) Individual pages.
 *
 * Notes:
 * Bootstrap grid breakpoints (v3)
 * @see http://getbootstrap.com/css/#grid-options
 * 
 * xs = <  768px
 * sm = >= 768px
 * md = >= 992px
 * lg = >= 1200px
 *
----------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------
 * Case (1)
 * -------------------------------------------------------------------------- */

/* Fonts. 
 * Only overrides font-family (from Bootstrap). Font-size, etc left unchanged.
----------------------------------------------------------------------------- */
body {
  font-family: 'Open Sans', sans-serif;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Rubik', sans-serif;
}

/* Show vertical scroll bar on all pages for consistency.
----------------------------------------------------------------------------- */

html {
  overflow-y: scroll;
}

/* Set maximum size of content container.
----------------------------------------------------------------------------- */
.container {
  max-width: 945px;
}

/* Static navbar styles.
----------------------------------------------------------------------------- */
body {
  margin-top: 50px; /* Margin top by navbar height */
}

/* Navbar styles.
----------------------------------------------------------------------------- */
.navbar-brand > img {
  padding-top: 2.3px;
}

/* Sticky footer styles.
----------------------------------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}


@media (min-width: 0px) {
  body {
    margin-bottom: 630px; /* Margin bottom by footer height (smallest screens). */
  }
}

@media (min-width: 560px) {
  body {
    margin-bottom: 600px; /* Margin bottom by footer height (medium screens). */
  }
}

@media (min-width: 992px) {
  body {
    margin-bottom: 210px; /* Margin bottom by footer height (largest screens). */
  }
}

/* Footer class styles.
----------------------------------------------------------------------------- */
.footer {
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
}

@media (max-width: 991px) {
  /* Add top padding to each footer heading (bold text) for smaller screens. */
  .footer div p.af-bold { 
    padding-top: 10px;
  }
}

/* The first heading in the footer does not need padding (for all screen 
   sizes). */
.footer div.col-md-3:first-child p.af-bold {
  padding: 0px;
}

/* Copyright text styles.
----------------------------------------------------------------------------- */
.af-copyright {
  padding-top: 10px;
  margin-bottom: 0;
}

/* Remove rounded borders of main navbar.
----------------------------------------------------------------------------- */
nav.navbar {
  border: 0;
}

/* Logged-in bar styles.
----------------------------------------------------------------------------- */
.af-logged-in-bar .navbar-text {
  margin: 0; /* Reduces the overall height of the bar. */
}

.af-logged-in-bar .navbar-text p {
  margin: 0;
  padding: 5px 0;
}

/* Page content while logged in class.
----------------------------------------------------------------------------- */
.af-content-while-logged-in {
  padding-top: 30px; /* Padding by logged-in-bar height */
}

/* Website notice styles.
----------------------------------------------------------------------------- */
.af-website-notice {
  margin: 0;
  border-radius: 0;
  padding: 10px 0 0 0;
}

/* --------------------------------------------------------------------------
 * Case (2)
 * -------------------------------------------------------------------------- */

/* Home page header class styles.
----------------------------------------------------------------------------- */
.af-home-header {
  min-height: 400px;
  background-image: url('../images/homepage-banner.jpg');
  background-size: cover;
  background-position: center;
}

.af-home-header > div:first-child {
  background-image: url('../images/afred-logo-colour-gradient-bottom-tagline-470x125.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  padding: 200px 0 0 0;
  margin-bottom: 20px;
}

@media (max-width: 550px) {
  .af-home-header > div:first-child {
    background-image: url('../images/afred-symbol-bottom-text 200x170.png');
    padding: 205px 0 0 0;
  }
}

@media (max-width: 500px) {
  .af-home-header {
    min-height: 345px;
  }
}

@media (min-width: 768px) {
  .af-home-header input {
    width: 420px !important; /* Search bar width by AFRED logo width */
  }
}

/* Home page 'Submit your facility' styles.
----------------------------------------------------------------------------- */
.af-home-submit-your-facility-bar {
  background-color: rgb(29, 189, 193);
  padding: 40px 0 10px 0;
  color: #fff;
}

/* Vertically center-ise gears. */
.af-home-submit-your-facility-bar .fa-gears {
  margin-top: -8px;
}

/* Vertically center-ise text. */
.af-home-submit-your-facility-bar div.col-md-6 p {
  padding-top: 6px;
}

/* Vertically center-ise button. */
.af-home-submit-your-facility-bar div.col-md-4 p {
  padding-top: 16px;
}

@media (max-width: 991px) {
  .af-home-submit-your-facility-bar {
    padding: 20px 0 18px 0;
  }

   /* Hide gears for smaller screens. */
  .af-home-submit-your-facility-bar .fa-gears {
    display: none;
  }

  .af-home-submit-your-facility-bar div.col-md-6 p {
    padding: 0;
  }

  .af-home-submit-your-facility-bar div.col-md-4 p {
    padding: 15px 0 13px 0;
  }  
}

.af-home-submit-your-facility-bar p {
  margin: 0;
  padding: 4px 0 0 0;
}

.af-home-submit-your-facility-bar a {
  color: white;
  text-decoration: underline;
}

/* Home page 'Here's what AFRED can do for you!' styles.
----------------------------------------------------------------------------- */
.af-home-what-can-afred-do-for-you > p:first-child {
  padding-top: 10px;
}

/* Vertically center-ise all headings. */
.af-home-what-can-afred-do-for-you .col-sm-9 p {
  padding-top: 4px;
}

/* Increase top padding to vertically centerise the third heading. */
.af-home-what-can-afred-do-for-you div.col-md-3:nth-child(3) .col-sm-9 p {
  padding-top: 12px;
}

/* Vertically center-ise all headings for smaller screens. */
@media (min-width: 768px) and (max-width: 991px) {
  .af-home-what-can-afred-do-for-you .col-sm-11 p {
    padding-top: 13px;
  }
}

/* Search page result panels
----------------------------------------------------------------------------- */
.af-search-page-results a {
  text-decoration: none;
}

.af-search-page-results p:not(.h4) {
  color: #333;
}
