/* TextAngular styles
-------------------------------------------------- */
.ta-editor {
  min-height: 300px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
  margin:5px 0;
}

.ta-bind.placeholder-text {
  font-size: 0.86em;
  color: #999;  
}
