<div class="modal-header">
  <h1 class="modal-title">Contact Us!</h1>
</div>

<div class="modal-body">
  <form class="form-horizontal" name="contactSprinboardForm" novalidate>
    <div data-field data-label="Name*">
      <input type="text" class="form-control" name="name" id="name" data-ng-model="message.name" required>
    </div>
    
    <div data-field data-label="Email*">
      <input type="email" class="form-control" name="email" id="email" data-ng-model="message.email" required>
    </div>
    
    <div data-field data-label="Message*">
      <textarea class="form-control" name="body" id="body" data-ng-model="message.body" rows="5" required></textarea>
    </div>
  </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" data-ng-click="submit()">Submit</button>
    <button class="btn btn-warning" data-ng-click="cancel()">Cancel</button>
</div>