<div class="modal-header">
  <div class="modal-title">
    <h1 class="h3">Contact Springboard Atlantic</h1>
  </div>
</div>

<form name="springboardForm" data-ng-submit="submit()" novalidate>
  <div class="modal-body" data-af-loading="loading.form">  
    <div class="text-muted">
      <p>
        If you can’t find what you’re looking for, please complete the form 
        below to contact 
        <a href="http://springboardatlantic.ca" target="_blank">Springboard Atlantic</a> 
        for assistance. Springboard’s network members work to connect 
        publicly-funded research with industry experts through a range of 
        programs and services. Springboard is a proud supporter of AFRED. 
      </p>
  
      <p class="small">
        <i>
          Please note that the AFRED administrator will also be copied on the
          message.
        </i>
      </p>
    </div>
    
    <hr>
    
    <!-- Contact form. -->
    <div data-ng-show="view.show == 'CONTACT_FORM'">
      <div class="row">
        <div class="col-sm-6">
          <div data-af-field data-af-field-label="Name*" data-af-field-is-md="true" data-af-field-is-vertical="true" data-af-field-model="message.name">
            <input type="text" name="name" class="form-control input-sm" data-ng-model="message.name" maxlength="50" data-ng-disabled="resource.$resolved === false" required>
          </div>
        </div>  
        
        <div class="col-sm-6">
          <div data-af-field data-af-field-label="Email*" data-af-field-is-md="true" data-af-field-is-vertical="true" data-af-field-model="message.email">
            <input type="email" name="email" class="form-control input-sm" data-ng-model="message.email" data-ng-model-options="{ debounce: 500 }" maxlength="254" data-ng-disabled="resource.$resolved === false" required>
          </div>
        </div>
      </div>
      
      <div data-af-field data-af-field-label="Message*" data-af-field-is-md="true" data-af-field-is-vertical="true" data-af-field-model="message.body">
        <textarea name="message" class="form-control input-sm" data-ng-model="message.body" rows="6" maxlength="1000" data-ng-disabled="resource.$resolved === false" required></textarea>
      </div>
    </div>
    
    <!-- Success message. -->
    <div data-ng-show="view.show == 'SUCCESS'">
      <p>Thank you! Your message has been successfully sent.</p>
    </div>
    
    <!-- Failure message. -->
    <div data-ng-show="view.show == 'FAILURE'">
      <p>
        Oh no! It looks like we were not able to successfully send your message.
      </p>
    </div>
  </div>
  
  <div class="modal-footer">
    <span class="pull-left">
      <a href="http://springboardatlantic.ca" target="_blank">
        <img src="images/springboard-123x35.png" alt="Springboard Atlantic Logo">
      </a>
    </span>

    <div data-ng-show="view.show == 'CONTACT_FORM'">
      <button type="submit" class="btn btn-default btn-sm" data-ng-click="submit()" data-af-loading-btn="resource.$resolved === false" data-af-loading-btn-text="Sending..." data-ng-disabled="springboardForm.$pristine || springboardForm.$invalid || resource.$resolved === false">Send <span class="fa fa-envelope"></span></button>
      <button type="button" class="btn btn-default btn-sm" data-ng-click="modal.dismiss()" data-ng-disabled="resource.$resolved === false">Cancel <span class="fa fa-close"></span></button>
    </div>
    
    <div data-ng-show="view.show != 'CONTACT_FORM'">
      <button type="button" class="btn btn-default btn-sm" data-ng-click="modal.close()">Close <span class="fa fa-close"></span></button>
    </div>
  </div>
</form>
