<div class="modal-header">
  <h1 class="modal-title" data-ng-show="templateMode.preview">Preview</h1>
  <h1 class="modal-title" data-ng-show="templateMode.confirmation">Record Submitted</h1>
</div>

<div class="modal-body">
  <div data-ng-show="templateMode.preview">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Facility Information</h1>
      </div>
      
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3 text-right"><label>Facility</label></div>
          <div class="col-md-9">{{facility.name}}</div>
        </div>
        
        <div class="row">
          <div class="col-md-3 text-right"><label>Institution</label></div>
          <div class="col-md-9">{{facility.institution}}</div>
        </div>
        
        <div class="row">
          <div class="col-md-3 text-right"><label>City</label></div>
          <div class="col-md-9">{{facility.city}}</div>
        </div>
        
        <div class="row">
          <div class="col-md-3 text-right"><label>Province</label></div>
          <div class="col-md-9">{{facility.province}}</div>
        </div>
        
        <div class="row" data-ng-show="facility.website">
          <div class="col-md-3 text-right"><label>Website</label></div>
          <div class="col-md-9"><a data-ng-href="{{facility.website}}" target="_blank">{{facility.website}}</a></div>
        </div>
        
        <div class="row">
          <div class="col-md-3 text-right"><label>Description</label></div>
          <div class="col-md-9" data-ng-bind-html="facility.description"></div>
        </div>
      </div><!-- End of .panel-body -->
    </div><!-- End of .panel -->
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Contact Information</h1>
      </div>
      
      <div class="panel-body">
        <div data-ng-repeat="c in facility.contacts">
          <div class="row">
            <div class="col-md-3 text-right"><label>Name</label></div>
            <div class="col-md-9">{{c.firstName}} {{c.lastName}}</div>
          </div>
          
          <div class="row">
            <div class="col-md-3 text-right"><label>Email</label></div>
            <div class="col-md-9"><a data-ng-href="mailto:{{c.email}}">{{c.email}}</a></div>
          </div>
          
          <div class="row">
            <div class="col-md-3 text-right"><label>Telephone</label></div>
            <div class="col-md-9">{{c.telephone}}</div>
          </div>
          
          <div class="row" data-ng-show="c.position">
            <div class="col-md-3 text-right"><label>Position</label></div>
            <div class="col-md-9">{{c.position}}</div>
          </div>
          
          <div class="row" data-ng-show="c.website">
            <div class="col-md-3 text-right"><label>Website</label></div>
            <div class="col-md-9"><a href="{{c.website}}" target="_blank">{{c.website}}</a></div>
          </div>
          
          <hr data-ng-show="$index !== (facility.contacts.length - 1)">
        </div><!-- End of ng-repeat -->
      </div><!-- End of .panel-body -->
    </div><!-- End of .panel -->
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Equipment Information</h1>
      </div>
      
      <div class="panel-body">
        <div data-ng-repeat="e in facility.equipment">
          <div class="row">
            <div class="col-md-3 text-right"><label>Equipment</label></div>
            <div class="col-md-9">{{e.name}}</div>
          </div>
          
          <div class="row">
            <div class="col-md-3 text-right"><label>Purpose</label></div>
            <div class="col-md-9" data-ng-bind-html="e.purpose"></div>
          </div>
      
          <div class="row" data-ng-show="e.specifications">
            <div class="col-md-3 text-right"><label>Specifications</label></div>
            <div class="col-md-9" data-ng-bind-html="e.specifications"></div>
          </div>
          
          <hr data-ng-show="$index !== (facility.equipment.length - 1)">
        </div><!-- End of ng-repeat -->
      </div><!-- End of .panel-body -->
    </div><!-- End of .panel -->
  </div><!-- End of .template.preview -->
  
  <div data-ng-show="templateMode.confirmation && templateMode.create">
    <h2>Thank You!</h2>
    
    <p>
      Your entry has been sent to the administrator for approval. If your entry is approved,
      you will receive an email with a link to your entry for your reference.
    </p>
    
    <p>
      If you have any comments or need to make any corrections,
      please contact <a href="mailto:afred@scienceatlantic.ca">afred@scienceatlantic.ca</a>
    </p>
  </div>
  
  <div data-ng-show="templateMode.confirmation && templateMode.edit">
    <h2>Thank You!</h2>
    
    <p>
      Your entry has been sent to the administrator for approval. If your entry is approved,
      you will receive an email with a link to your entry for your reference.
    </p>
    
    <p>
      If you have any comments or need to make any corrections,
      please contact <a href="mailto:afred@scienceatlantic.ca">afred@scienceatlantic.ca</a>
    </p>
  </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" data-ng-click="submit()" data-ng-show="templateMode.preview">Submit</button>
    <button class="btn btn-warning" data-ng-click="cancel()" data-ng-show="templateMode.preview">Go back</button>
    <button class="btn btn-primary" data-ng-click="close()" data-ng-show="templateMode.confirmation">Close</button>
</div>