# --------------------------------------------------------------------------- #
# Global                                                                      #
# --------------------------------------------------------------------------- #
# Komodo Edit configuration file
*.komodoproject

# VIM, etc temporary files on GNU/Linux machines.
*~

# Apple OS X folder attribute files
.DS_Store

# Windows folder attribute files
Thumbs.db
desktop.ini

# Misc cache files
.cache

# --------------------------------------------------------------------------- #
# "app" folder                                                                #
# --------------------------------------------------------------------------- #
# Include all dependencies because we are deploying this app. So these
# folders are commented out.
# app/bower_components
# app/node_modules

# Ignore misc temporary files/folders
app/.tmp
app/.sass-cache

# Do not include the distribution (production-ready) folder
app/dist/

# --------------------------------------------------------------------------- #
# "api" folder                                                                #
# --------------------------------------------------------------------------- #
# Include local environment config file to serve as a guide (so it's
# commented out).
# api/.env.local.php

# Ignore the actual environment config file
api/.env.php
