<p class="text-muted">
  Equipment
  <span data-ng-hide="_state.is('facilities.show.equipment.show')">
    <span class="pull-right">Total: <span class="badge">{{ facility.equipment.length }}</span></span>
  </span>
</p>
<hr>

<div data-ng-repeat="e in facility.equipment" onresize="_helper.getWidth()">
  <div class="row">
    <div class="col-sm-3" data-ng-class="{ 'text-right': _window.innerWidth >= _bootstrap.grid.breakpoints.sm }"><label>Type</label></div>
    <div class="col-sm-9">{{ e.type }}</div>
  </div>
  
  <br data-ng-show="_window.innerWidth < _bootstrap.grid.breakpoints.sm">
  
  <div class="row" data-ng-show="e.manufacturer || isPreview">
    <div class="col-sm-3" data-ng-class="{ 'text-right': _window.innerWidth >= _bootstrap.grid.breakpoints.sm }"><label>Manufacturer</label></div>
    <div class="col-sm-9">{{ e.manufacturer }} <span class="label label-default" data-ng-show="isPreview && !e.manufacturer">Blank</span></div>
  </div>
  
  <br data-ng-show="_window.innerWidth < _bootstrap.grid.breakpoints.sm">
  
  <div class="row" data-ng-show="e.model || isPreview">
    <div class="col-sm-3" data-ng-class="{ 'text-right': _window.innerWidth >= _bootstrap.grid.breakpoints.sm }"><label>Model</label></div>
    <div class="col-sm-9">{{ e.model }} <span class="label label-default" data-ng-show="isPreview && !e.model">Blank</span></div>
  </div>
  
  <br data-ng-show="_window.innerWidth < _bootstrap.grid.breakpoints.sm">
  
  <div class="row">
    <div class="col-sm-3" data-ng-class="{ 'text-right': _window.innerWidth >= _bootstrap.grid.breakpoints.sm }"><label>Purpose</label></div>
    <div class="col-sm-9" data-ng-bind-html="e.purpose"></div>
  </div>
  
  <br data-ng-show="_window.innerWidth < _bootstrap.grid.breakpoints.sm">
  
  <div class="row" data-ng-show="e.specifications || isPreview">
    <div class="col-sm-3" data-ng-class="{ 'text-right': _window.innerWidth >= _bootstrap.grid.breakpoints.sm }"><label>Specifications</label></div>
    <div class="col-sm-9">
      <div class="display: inline-block;" data-ng-bind-html="e.specifications"></div><span class="label label-default" data-ng-show="isPreview && !e.specifications">Blank</span>      
    </div>
  </div>
  
  <br data-ng-show="_window.innerWidth < _bootstrap.grid.breakpoints.sm">
  
  <div class="row" data-ng-show="isPreview">
    <div class="col-sm-3" data-ng-class="{ 'text-right': _window.innerWidth >= _bootstrap.grid.breakpoints.sm }"><label>Search visibility</label></div>
    <div class="col-sm-9">
      <span data-ng-show="e.isPublic">Public</span>
      <span data-ng-hide="e.isPublic">Hidden</span>
    </div>
  </div>
  
  <br data-ng-show="_window.innerWidth < _bootstrap.grid.breakpoints.sm">
  
  <div class="row" data-ng-show="isPreview">
    <div class="col-sm-3" data-ng-class="{ 'text-right': _window.innerWidth >= _bootstrap.grid.breakpoints.sm }"><label>Excess capacity</label></div>
    <div class="col-sm-9">
      <span data-ng-show="e.hasExcessCapacity">Yes</span>
      <span data-ng-hide="e.hasExcessCapacity">No</span>
    </div>
  </div>
  
  <br data-ng-show="_window.innerWidth < _bootstrap.grid.breakpoints.sm">
  
  <div class="row" data-ng-show="e.keywords || isPreview">
    <div class="col-sm-3" data-ng-class="{ 'text-right': _window.innerWidth >= _bootstrap.grid.breakpoints.sm }"><label>Keywords</label></div>
    <div class="col-sm-9">{{ e.keywords }} <span class="label label-default" data-ng-show="isPreview && !e.keywords">Blank</span></div>
  </div>
  
  <hr data-ng-show="$index !== (facility.equipment.length - 1)">
</div><!-- End of ng-repeat -->