<span class="text-muted">Research Facility</span>
<hr>

<div itemscope itemtype="http://schema.org/Place">
  <!-- Facility. -->
  <div class="row">
    <div class="col-sm-3" data-ng-class="{ 'text-right': _getWidth() >= _bootstrap.sm }">
      <label>Facility</label>
    </div>

    <div class="col-sm-9" itemprop="name">
      <div data-ng-if="useBindHtml">
        <div data-ng-bind-html="facility.name"></div>
      </div>

      <div data-ng-if="!useBindHtml">{{ facility.name }}</div>
    </div>

    <br data-ng-if="_getWidth() < _bootstrap.sm">
  </div>

  <!-- Organization. -->
  <div class="row">
    <div class="col-sm-3" data-ng-class="{ 'text-right': _getWidth() >= _bootstrap.sm }">
      <label>Organization</label>
    </div>

    <div class="col-sm-9" itemscope itemtype="http://schema.org/Organization">
      <div itemprop="name">
        <div data-ng-if="useBindHtml">
          <div data-ng-bind-html="facility.organization.name"></div>
        </div>

        <div data-ng-if="!useBindHtml">{{ facility.organization.name }}</div>
      </div>

      <!-- "New Organization" label. -->
      <span class="label label-default" data-ng-if="isPreview && isNewOrganization">
        New organization
      </span>

      <!-- "Deleted" label. -->
      <span class="label label-danger" data-ng-if="isPreview && !isNewOrganization && !facility.organization.name">
        Deleted
      </span>
    </div>

    <br data-ng-if="_getWidth() < _bootstrap.sm">
  </div>

  <!-- City. -->
  <div class="row" data-ng-if="facility.city || isPreview">
    <div class="col-sm-3" data-ng-class="{ 'text-right': _getWidth() >= _bootstrap.sm }">
      <label>City</label>
    </div>

    <div class="col-sm-9" itemscope itemtype="http://schema.org/City">
      <div itemprop="name">
        <div data-ng-if="useBindHtml">
          <div data-ng-bind-html="facility.city"></div>
        </div>

        <div data-ng-if="!useBindHtml">{{ facility.city }}</div>
      </div>

      <!-- "Blank" label. -->
      <span class="label label-default" data-ng-if="isPreview && !facility.city">Blank</span>
    </div>

    <br data-ng-if="_getWidth() < _bootstrap.sm">
  </div>

  <!-- Province -->
  <div class="row">
    <div class="col-sm-3" data-ng-class="{ 'text-right': _getWidth() >= _bootstrap.sm }">
      <label>Province</label>
    </div>

    <div class="col-sm-9" itemscope itemtype="http://schema.org/State">
      <div itemprop="name">
        <div data-ng-if="useBindHtml">
          <div data-ng-bind-html="facility.province.name"></div>
        </div>

        <div data-ng-if="!useBindHtml">{{ facility.province.name }}</div>
      </div>
    </div>

    <br data-ng-if="_getWidth() < _bootstrap.sm">
  </div>

  <!-- Website. -->
  <div class="row" data-ng-if="facility.website || isPreview">
    <div class="col-sm-3" data-ng-class="{ 'text-right': _getWidth() >= _bootstrap.sm }">
      <label>Website</label>
    </div>

    <div class="col-sm-9">
      <a class="af-word-break" 
         data-ng-href="{{ facility.website }}" target="_blank" itemprop="url" data-ng-if="!useBindHtml">
        {{ facility.website }}
      </a>
      
      <div class="af-word-break" data-ng-if="useBindHtml">
        <div data-ng-bind-html="facility.website"></div>
      </div>

      <!-- "Blank" label. -->
      <span class="label label-default" data-ng-if="!facility.website">Blank</span>
    </div>

    <br data-ng-if="_getWidth() < _bootstrap.sm">
  </div>

  <!-- Description. -->
  <div class="row">
    <div class="col-sm-3" data-ng-class="{ 'text-right': _getWidth() >= _bootstrap.sm }">
      <label>Description</label>
    </div>

    <div class="col-sm-9" data-ng-bind-html="facility.description" itemprop="description"></div>

    <br data-ng-if="_getWidth() < _bootstrap.sm">
  </div>

  <!-- Disciplines -->
  <div class="row" itemscope itemtype="http://schema.org/ItemList">
    <div class="col-sm-3" data-ng-class="{ 'text-right': _getWidth() >= _bootstrap.sm }">
      <label itemprop="name">Research disciplines</label>
    </div>

    <div class="col-sm-9">
      <ul>
        <li data-ng-repeat="d in facility.disciplines" itemprop="itemListElement">
          <span data-ng-if="useBindHtml">
            <span data-ng-bind-html="d.name"></span>
          </span>
          <span data-ng-if="!useBindHtml">{{ d.name }}</span> 
      </ul>
    </div>

    <br data-ng-if="_getWidth() < _bootstrap.sm">
  </div>

  <!-- Sectors. -->
  <div class="row" itemscope itemtype="http://schema.org/ItemList">
    <div class="col-sm-3" data-ng-class="{ 'text-right': _getWidth() >= _bootstrap.sm }">
      <label itemprop="name">Sectors of application</label>
    </div>

    <div class="col-sm-9">
      <ul>
        <li data-ng-repeat="s in facility.sectors" itemprop="itemListElement">
          <span data-ng-if="useBindHtml">
            <span data-ng-bind-html="s.name"></span>
          </span>
          <span data-ng-if="!useBindHtml">{{ s.name }}</span> 
        </li> 
      </ul>
    </div>
  </div>
</div>
