<div data-ng-class="{'form-group': true,
                     'form-group-sm': true,
                     'has-error': form[name].$invalid && form[name].$dirty}">
  
  <label class="col-sm-4 control-label">
    <span class="fa fa-question-circle" data-ng-show="popover" data-uib-popover="{{ popover }}" data-popover-trigger="mouseenter"></span> {{ label }}
  </label>
  
  <div class="col-sm-8">
    <div data-ng-transclude></div>
    
    <p class="text-muted" data-ng-show="model.length">
      <small>
        <span data-ng-if="!isTextAngular">{{ model.length }}</span><span data-ng-if="isTextAngular">{{ getTextAngularContentLength(model) }}</span>/{{ maxLength }} characters remaining.
      </small>
    </p>
    
    <p>
      <small>
        <span class="text-danger" data-ng-show="form[name].$error.required && form[name].$dirty">This is required</span>
        <span class="text-danger" data-ng-show="form[name].$error.url && form[name].$dirty">That's not a valid URL</span>
        <span class="text-danger" data-ng-show="form[name].$error.email && form[name].$dirty">That's not a valid email</span>
        <span class="text-danger" data-ng-show="form[name].$error.pattern && form[name].$dirty">That's not quite right</span>
      </small>
    </p>
  </div>
</div>