<p class="text-muted">Contacts</p>
<hr>

<div data-ng-repeat="c in facility.contacts" itemscope itemtype="http://schema.org/Person">
  <!-- Name. -->
  <div class="row">
    <div class="col-sm-3" data-ng-class="{ 'text-right': _window.innerWidth >= _bootstrap.grid.breakpoints.sm }">
      <label>Name</label>
    </div>

    <div class="col-sm-9">
      <span itemprop="givenName">{{ c.firstName }}</span>
      <span itemprop="familyName">{{ c.lastName }}</span> 
      <!-- "Primary contact" label. -->
      <span data-ng-show="$index == 0" class="label label-default">Primary Contact</span>
    </div>

    <br data-ng-show="_window.innerWidth < _bootstrap.grid.breakpoints.sm">
  </div>
  
  <!-- Email. -->
  <div class="row">
    <div class="col-sm-3" data-ng-class="{ 'text-right': _window.innerWidth >= _bootstrap.grid.breakpoints.sm }">
      <label>Email</label>
    </div>

    <div class="col-sm-9">
      <a data-ng-href="mailto:{{ c.email }}" itemprop="email">{{ c.email }}</a>
    </div>

    <br data-ng-show="_window.innerWidth < _bootstrap.grid.breakpoints.sm">
  </div>
  
  <!-- Telephone. -->
  <div class="row" data-ng-show="c.telephone || isPreview">
    <div class="col-sm-3" data-ng-class="{ 'text-right': _window.innerWidth >= _bootstrap.grid.breakpoints.sm }">
      <label>Telephone</label>
    </div>

    <div class="col-sm-9">
      <span itemprop="telephone">
        {{ c.telephone | afFormatTelephone }} 
        <!-- Extension. 
          -- Use "ngIf" so that the "Extension" label isn't crawled and included
          -- as part of the schema object if it's empty.
          -->
        <span data-ng-if="c.extension">
          <span class="label label-default">Extension:</span> {{ c.extension }}
        </span>
      </span>
      <!-- "Blank" label. -->
      <span class="label label-default" data-ng-show="isPreview && !c.telephone">Blank</span>
    </div>

    <br data-ng-show="_window.innerWidth < _bootstrap.grid.breakpoints.sm">
  </div>
  
  <!-- Position. -->
  <div class="row" data-ng-show="c.position || isPreview">
    <div class="col-sm-3" data-ng-class="{ 'text-right': _window.innerWidth >= _bootstrap.grid.breakpoints.sm }">
      <label>Position</label>
    </div>

    <div class="col-sm-9">
      <span itemprop="jobTitle">{{ c.position }}</span>
      <!-- "Blank" label. -->
      <span class="label label-default" data-ng-show="isPreview && !c.position">Blank</span>
    </div>
      
    <br data-ng-show="_window.innerWidth < _bootstrap.grid.breakpoints.sm">
  </div>
  
  <!-- Website. -->
  <div class="row" data-ng-show="c.website || isPreview">
    <div class="col-sm-3" data-ng-class="{ 'text-right': _window.innerWidth >= _bootstrap.grid.breakpoints.sm }">
      <label>Website</label>
    </div>
    
    <div class="col-sm-9">
      <a href="{{ c.website }}" target="_blank" itemprop="url">{{ c.website }}</a>
      <!-- "Blank" label. -->
      <span class="label label-default" data-ng-show="isPreview && !c.website">Blank</span>
    </div>
  </div>
  
  <hr data-ng-show="$index !== (facility.contacts.length - 1)">
</div><!-- End of ng-repeat -->
