<p class="text-muted">
  Equipment
  <!-- Total number of equipment count. -->
  <span data-ng-hide="_state.is('facilities.show.equipment.show')">
    <span class="pull-right">Total: <span class="badge">{{ facility.equipment.length }}</span></span>
  </span>
</p>
<hr>

<div data-ng-repeat="e in facility.equipment" itemscope itemtype="http://schema.org/Product">
  <!-- Type. -->
  <div class="row">
    <div class="col-sm-3" data-ng-class="{ 'text-right': _getWidth() >= _bootstrap.grid.breakpoints.sm }">
      <label>Type</label>
    </div>

    <div class="col-sm-9">
      <span itemprop="name">{{ e.type }}</span>
    </div>

    <br data-ng-show="_getWidth() < _bootstrap.grid.breakpoints.sm">
  </div>
  
  <!-- Manufacturer. -->
  <div class="row" data-ng-show="e.manufacturer || isPreview">
    <div class="col-sm-3" data-ng-class="{ 'text-right': _getWidth() >= _bootstrap.grid.breakpoints.sm }">
      <label>Manufacturer</label>
    </div>

    <div class="col-sm-9">
      <span itemprop="manufacturer" itemscope itemtype="http://schema.org/Organization">
        <span itemprop="name">{{ e.manufacturer }}</span>
      </span> 
      <!-- "Blank" label. -->
      <span class="label label-default" data-ng-show="isPreview && !e.manufacturer">Blank</span>
    </div>

    <br data-ng-show="_getWidth() < _bootstrap.grid.breakpoints.sm">
  </div>
  
  <!-- Model. -->
  <div class="row" data-ng-show="e.model || isPreview">
    <div class="col-sm-3" data-ng-class="{ 'text-right': _getWidth() >= _bootstrap.grid.breakpoints.sm }">
      <label>Model</label>
    </div>

    <div class="col-sm-9">
      <span itemprop="model">{{ e.model }}</span>
      <!-- "Blank" label. -->
      <span class="label label-default" data-ng-show="isPreview && !e.model">Blank</span>
    </div>

    <br data-ng-show="_getWidth() < _bootstrap.grid.breakpoints.sm">
  </div>
  
  <!-- Purpose. -->
  <div class="row">
    <div class="col-sm-3" data-ng-class="{ 'text-right': _getWidth() >= _bootstrap.grid.breakpoints.sm }">
      <label>Purpose</label>
    </div>

    <div class="col-sm-9" data-ng-bind-html="e.purpose" itemprop="description"></div>

    <br data-ng-show="_getWidth() < _bootstrap.grid.breakpoints.sm">
  </div>
  
  <!-- Specifications. -->
  <div class="row" data-ng-show="e.specifications || isPreview">
    <div class="col-sm-3" data-ng-class="{ 'text-right': _getWidth() >= _bootstrap.grid.breakpoints.sm }">
      <label>Specifications</label>
    </div>

    <div class="col-sm-9">
      <div class="display: inline-block;" data-ng-bind-html="e.specifications" itemprop="description"></div>
      
      <!-- Blank label. -->
      <span class="label label-default" data-ng-show="isPreview && !e.specifications">Blank</span>      
    </div>

    <br data-ng-show="_getWidth() < _bootstrap.grid.breakpoints.sm">
  </div>  

  <!-- Year purchased. -->
  <div class="row" data-ng-show="e.yearPurchased || isPreview">
    <div class="col-sm-3" data-ng-class="{ 'text-right': _getWidth() >= _bootstrap.grid.breakpoints.sm }">
      <label>Year purchased</label>
    </div>

    <div class="col-sm-9">
      <time itemprop="purchaseDate" datetime="{{ e.yearPurchased }}">{{ e.yearPurchased }}</time>
      <!-- "Blank" label. -->
      <span class="label label-default" data-ng-show="isPreview && !e.yearPurchased">Blank</span>      
    </div>

    <br data-ng-show="_getWidth() < _bootstrap.grid.breakpoints.sm">
  </div>  

  <!-- Year manufactured. -->
  <div class="row" data-ng-show="e.yearManufactured || isPreview">
    <div class="col-sm-3" data-ng-class="{ 'text-right': _getWidth() >= _bootstrap.grid.breakpoints.sm }">
      <label>Year manufactured</label>
    </div>

    <div class="col-sm-9">
      <time itemprop="productionDate" datetime="{{ e.yearManufactured }}">{{ e.yearManufactured }}</time>
      <!-- "Blank" label. -->
      <span class="label label-default" data-ng-show="isPreview && !e.yearManufactured">Blank</span>      
    </div>

    <br data-ng-show="_getWidth() < _bootstrap.grid.breakpoints.sm">
  </div>
  
  <!-- Search visibility. -->
  <div class="row" data-ng-show="isPreview">
    <div class="col-sm-3" data-ng-class="{ 'text-right': _getWidth() >= _bootstrap.grid.breakpoints.sm }">
      <label>Search visibility</label>
    </div>

    <div class="col-sm-9">
      <span data-ng-show="e.isPublic">Public</span>
      <span data-ng-hide="e.isPublic">Hidden</span>
    </div>

    <br data-ng-show="_getWidth() < _bootstrap.grid.breakpoints.sm">
  </div>
  
  <!-- Excess capacity. -->
  <div class="row" data-ng-show="isPreview">
    <div class="col-sm-3" data-ng-class="{ 'text-right': _getWidth() >= _bootstrap.grid.breakpoints.sm }">
      <label>Excess capacity</label>
    </div>

    <div class="col-sm-9">
      <span data-ng-show="e.hasExcessCapacity">Yes</span>
      <span data-ng-hide="e.hasExcessCapacity">No</span>
    </div>

    <br data-ng-show="_getWidth() < _bootstrap.grid.breakpoints.sm">
  </div>
  
  <!-- Keywords. -->
  <div class="row" data-ng-show="e.keywords || isPreview" itemprop="additionalProperty" itemscope itemtype="http://schema.org/PropertyValue">
    <div class="col-sm-3" data-ng-class="{ 'text-right': _getWidth() >= _bootstrap.grid.breakpoints.sm }">
      <label itemprop="name">Keywords</label>
    </div>
    
    <div class="col-sm-9">
      <span itemprop="value">{{ e.keywords }}</span>
      <!-- "Blank" label. -->
      <span class="label label-default" data-ng-show="isPreview && !e.keywords">Blank</span>
    </div>
  </div>
  
  <hr data-ng-show="$index !== (facility.equipment.length - 1)">
</div><!-- End of ng-repeat -->
