<p class="text-muted">Contacts</p>
<hr>

<div data-ng-repeat="c in facility.contacts" itemscope itemtype="http://schema.org/Person">
  <!-- Name. -->
  <div class="row">
    <div class="col-sm-3" data-ng-class="{ 'text-right': _getWidth() >= _bootstrap.sm }">
      <label>Name</label>
    </div>

    <div class="col-sm-9">
      <span itemprop="givenName">
        <span data-ng-if="useBindHtml">
          <span data-ng-bind-html="c.firstName"></span>
        </span>

        <span data-ng-if="!useBindHtml">{{ c.firstName }}</span>
      </span>
      <span itemprop="familyName">
        <span data-ng-if="useBindHtml">
          <span data-ng-bind-html="c.lastName"></span>
        </span>

        <span data-ng-if="!useBindHtml">{{ c.lastName }}</span>
      </span> 

      <!-- "Primary contact" label. -->
      <span data-ng-if="$index == 0" class="label label-default">Primary Contact</span>
    </div>

    <br data-ng-if="_getWidth() < _bootstrap.sm">
  </div>
  
  <!-- Email. -->
  <div class="row">
    <div class="col-sm-3" data-ng-class="{ 'text-right': _getWidth() >= _bootstrap.sm }">
      <label>Email</label>
    </div>

    <div class="col-sm-9">
      <div class="af-word-break" data-ng-if="useBindHtml">
        <div data-ng-bind-html="c.email"></div>
      </div>  

      <a class="af-word-break" data-ng-href="mailto:{{ c.email }}" itemprop="email" data-ng-if="!useBindHtml">
        {{ c.email }}
      </a>
    </div>

    <br data-ng-if="_getWidth() < _bootstrap.sm">
  </div>
  
  <!-- Telephone. -->
  <div class="row" data-ng-if="c.telephone || isPreview">
    <div class="col-sm-3" data-ng-class="{ 'text-right': _getWidth() >= _bootstrap.sm }">
      <label>Telephone</label>
    </div>

    <div class="col-sm-9">
      <span itemprop="telephone">
        <span data-ng-if="useBindHtml">
          <span data-ng-bind-html="c.telephone"></span>
        </span>

        <span data-ng-if="!useBindHtml">
          {{ c.telephone | afFormatTelephone }}
        </span>        
        
        <!-- Extension. -->
        <span data-ng-if="c.extension">
          <span class="label label-default">Extension:</span> 
          <span data-ng-if="useBindHtml">
            <span data-ng-bind-html="c.extension"></span>
          </span>

          <span data-ng-if="!useBindHtml">{{ c.extension }}</span>             
        </span>
      </span>

      <!-- "Blank" label. -->
      <span class="label label-default" data-ng-if="isPreview && !c.telephone">Blank</span>
    </div>

    <br data-ng-if="_getWidth() < _bootstrap.sm">
  </div>
  
  <!-- Position. -->
  <div class="row" data-ng-if="c.position || isPreview">
    <div class="col-sm-3" data-ng-class="{ 'text-right': _getWidth() >= _bootstrap.sm }">
      <label>Position</label>
    </div>

    <div class="col-sm-9">
      <span itemprop="jobTitle">
        <span data-ng-if="useBindHtml">
          <span data-ng-bind-html="c.position"></span>
        </span>

        <span data-ng-if="!useBindHtml">{{ c.position }}</span>
      </span>

      <!-- "Blank" label. -->
      <span class="label label-default" data-ng-if="isPreview && !c.position">Blank</span>
    </div>
      
    <br data-ng-if="_getWidth() < _bootstrap.sm">
  </div>
  
  <!-- Website. -->
  <div class="row" data-ng-if="c.website || isPreview">
    <div class="col-sm-3" data-ng-class="{ 'text-right': _getWidth() >= _bootstrap.sm }">
      <label>Website</label>
    </div>
    
    <div class="col-sm-9">
      <div class="af-word-break" data-ng-if="useBindHtml">
        <div data-ng-bind-html="c.website"></div>
      </div>

      <a class="af-word-break" data-ng-href="{{ c.website }}" target="_blank" itemprop="url" data-ng-if="!useBindHtml">
        {{ c.website }}
      </a>

      <!-- "Blank" label. -->
      <span class="label label-default" data-ng-if="isPreview && !c.website">Blank</span>
    </div>
  </div>
  
  <hr data-ng-if="$index !== (facility.contacts.length - 1)">
</div><!-- End of ng-repeat -->
