<div class="form-group form-group-sm"
  data-ng-class="{'has-success': form[name].$valid && form[name].$dirty,
  'has-error': form[name].$invalid && form[name].$dirty}">
  <label class="col-sm-4 control-label" for="{{id}}">{{label}}</label>
  
  <div class="col-sm-8">
    <div data-ng-transclude></div>
    <p class="text-danger" data-ng-show="form[name].$error.required && form[name].$dirty">This field is required</p>
    <p class="text-danger" data-ng-show="form[name].$error.url && form[name].$dirty">That's not a valid URL</p>
    <p class="text-danger" data-ng-show="form[name].$error.email && form[name].$dirty">That's not a valid email</p>
    <p class="text-danger" data-ng-show="form[name].$error.pattern && form[name].$dirty">That's not quite right</p>
  </div>
</div>