<div data-ng-repeat="c in facility.contacts">
  <div class="row">
    <div class="col-md-3 text-right"><label>Name</label></div>
    <div class="col-md-9">{{c.firstName}} {{c.lastName}}</div>
  </div>
  
  <div class="row">
    <div class="col-md-3 text-right"><label>Email</label></div>
    <div class="col-md-9"><a data-ng-href="mailto:{{c.email}}">{{c.email}}</a></div>
  </div>
  
  <div class="row">
    <div class="col-md-3 text-right"><label>Telephone</label></div>
    <div class="col-md-9">{{c.telephone}}</div>
  </div>
  
  <div class="row" data-ng-show="c.position">
    <div class="col-md-3 text-right"><label>Position</label></div>
    <div class="col-md-9">{{c.position}}</div>
  </div>
  
  <div class="row" data-ng-show="c.website">
    <div class="col-md-3 text-right"><label>Website</label></div>
    <div class="col-md-9"><a href="{{c.website}}" target="_blank">{{c.website}}</a></div>
  </div>
  
  <hr data-ng-show="$index !== (facility.contacts.length - 1)">
</div><!-- End of ng-repeat -->