<form class="form-horizontal" name="facilityForm" data-ng-submit="preview()" role="form" novalidate>
  <!-- ======================================================
    -- [START] Facility section
    -- ====================================================== !-->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Research Facility Information</h4>
    </div>
    
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-6">
          <div data-af-field data-af-field-label="Facility*">
            <input class="form-control" id="facility-name" name="facilityName" data-ng-model="form.facility.name" required>
          </div>
          
          <div data-af-field data-af-field-label="Organization*">
            <select class="form-control" id="facility-organization" data-ng-model="form.facility.organizationId" data-ng-options="i.id as i.name for i in form.organizations" required>
            </select>
          </div>
          
          <div data-af-field data-af-field-label="Organization name*" data-ng-if="form.facility.organizationId == -2">
            <input type="text" class="form-control" name="facilityOrganizationName" id="facility-organization-name" data-ng-model="form.facility.organization.name" required>
          </div>
        </div><!-- End of .col-x-x -->

        <div class="col-lg-6">
          <div data-af-field data-af-field-label="City*">
            <input type="text" class="form-control" name="facilityCity" id="facility-city" data-ng-model="form.facility.city" required>
          </div>
          
          <div data-af-field data-af-field-label="Province*">          
            <select class="form-control" name="facilityProvince" id="facility-province" data-ng-model="form.facility.provinceId" data-ng-options="p.id as p.name for p in form.provinces" required>
            </select>
          </div>
          
          <div data-af-field data-af-field-label="Facility website">
            <input type="url" class="form-control" name="facilityWebsite" id="facility-website" data-ng-model="form.facility.website" placeholder="http://example.com">
          </div>
        </div><!-- End of .col-x-x -->
      </div><!-- End of .row -->
      
      <div data-af-field data-af-field-label="What the facility does*">
        <textarea class="form-control" name="facilityDescription" id="facility-description" data-ng-model="form.facility.description" required></textarea>
      </div>
    </div><!-- End of .panel-body -->
  </div><!-- End of .panel -->
  <!-- ======================================================
    -- [END] Facility section
    -- ====================================================== !-->
  
  <!-- ======================================================
    -- [START] ILO Contact information
    -- ====================================================== !-->
  <div class="panel panel-default" data-ng-show="form.facility.organizationId != -1 && form.facility.organization.ilo.firstName">
    <div class="panel-heading">
      <h4 class="panel-title">Industry Liaison Contact Information for {{form.facility.organization.name}}</h4>
    </div>
    
    <div class="panel-body">
      <div data-ng-include="'views/includes/ilo.html'"></div>
    </div><!-- End of .panel-body -->
  </div><!-- End of .panel -->     
  <!-- ======================================================
    -- [END] ILO Contact information
    -- ====================================================== !-->
  
  <!-- ======================================================
    -- [START] Contact information
    -- ====================================================== !-->
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="h4 panel-title">Contact Information</span>
      <span data-ng-show="form.contactIndex === 0" class="label label-info">Primary point of contact</span>         
    </div>
    
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-2">
          <table class="table table-condensed table-list">
            <tbody>
              <tr data-ng-repeat="c in form.facility.contacts" data-ng-class="{active: form.contactIndex === $index}" data-ng-click="form.contactIndex = $index">
                <td>
                  <a href="">
                    <span data-ng-hide="c.firstName || c.lastName">Contact #{{$index + 1}}</span>
                    <span data-ng-show="c.firstName || c.lastName">{{c.firstName}} {{c.lastName}}</span>
                  </a>
                </td>
                <td>
                  <a href="" data-ng-show="$index !== 0" data-ng-click="form.removeContact($index)">
                    <span class="text-danger">
                      <span class="glyphicon glyphicon-remove"></span>
                    </span>
                  </a>                         
                </td>
              </tr>
            </tbody>
          </table>
        </div><!-- End of .col-x-x -->
        
        <div class="col-lg-10">                    
          <div data-ng-repeat="c in form.facility.contacts">
            <div data-ng-form name="contactForm">
              <div class="row" data-ng-show="form.contactIndex === $index">
                <div class="col-lg-6">
                  <div data-af-field data-af-field-label="First name*">
                    <input type="text" class="form-control" name="contactFirstName" id="contact-first-name{{$index}}" data-ng-model="c.firstName" required>
                  </div>
                  
                  <div data-af-field data-af-field-label="Last name*">
                    <input type="text" class="form-control" name="contactLastName" id="contact-last-name{{$index}}" data-ng-model="c.lastName" required>
                  </div>
                  
                  <div data-af-field data-af-field-label="Email*">
                    <input type="email" class="form-control" name="contactEmail" id="contact-email{{$index}}" data-ng-model="c.email" placeholder="me@example.com" required>
                  </div>
                  
                  <div data-af-field data-af-field-label="Telephone*" data-ng-if="$index === 0">
                    <input type="text" class="form-control" name="contactTelephone" id="contact-telephone" data-ng-model="c.telephone" data-ng-pattern="/^\d{10}$/" placeholder="5555555555" required>
                  </div>
                  
                  <div data-af-field data-af-field-label="Telephone" data-ng-if="$index !== 0">
                    <input type="text" class="form-control" name="contactTelephone" id="contact-telephone" data-ng-model="c.telephone" data-ng-pattern="/^\d{10}$/" placeholder="5555555555">
                  </div>
                </div><!-- End of .col-x-x -->
                
                <div class="col-lg-6">
                  <div data-af-field data-af-field-label="Position*" data-ng-if="$index === 0">
                    <input type="text" class="form-control" name="contactPosition" id="contact-position{{$index}}" data-ng-model="c.position" required>
                  </div>
                  
                  <div data-af-field data-af-field-label="Position" data-ng-if="$index !== 0">
                    <input type="text" class="form-control" name="contactPosition" id="contact-position{{$index}}" data-ng-model="c.position">
                  </div>
                  
                  <div data-af-field data-af-field-label="Website">
                    <input type="url" class="form-control" name="contactWebsite" id="contact-website{{$index}}" data-ng-model="c.website" placeholder="http://example.com">
                  </div>
                  
                  <div data-af-field data-af-field-label="Extension">
                    <input type="text" class="form-control" name="contactExtension" id="contact-extension{{$index}}" data-ng-model="c.extension">
                  </div>
                </div><!-- End of .col-x-x -->
              </div><!-- End of .row -->
            </div><!-- End of ng-form -->
          </div><!-- End of ng-repeat -->
        </div><!-- End of .col-x-x -->
      </div><!--End of .row -->
      
      <button type="button" class="btn btn-default btn-sm" data-ng-click="form.addContact()">Add additional contacts</button>
    </div><!-- End of .panel-body -->
  </div><!-- End of .panel -->
  <!-- ======================================================
    -- [END] Contact information
    -- ====================================================== !-->
  
  <!-- ======================================================
    -- [START] Equipment information
    -- ====================================================== !-->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Equipment</h4>
    </div>
    
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-2">
          <table class="table table-condensed table-list">
            <tbody>
              <tr data-ng-repeat="e in form.facility.equipment" data-ng-class="{active: form.equipmentIndex === $index}" data-ng-click="form.equipmentIndex = $index">
                <td>
                  <a href="">
                    <span data-ng-hide="e.type">Equipment #{{$index + 1}}</span>
                    <span data-ng-show="e.type">{{e.type}} <span data-ng-show="e.manufacturer">({{e.manufacturer}})</span></span>
                  </a>
                </td>
                <td>
                  <a href="" data-ng-show="$index !== 0" data-ng-click="form.removeEquipment($index)">
                    <span class="text-danger">
                      <span class="glyphicon glyphicon-remove"></span>
                    </span>
                  </a>                         
                </td>
              </tr>
            </tbody>
          </table>
        </div><!-- End of .col-x-x -->
        
        <div class="col-lg-10">
          <div data-ng-repeat="e in form.facility.equipment">
            <div data-ng-form name="equipmentForm">
              <div class="row" data-ng-show="form.equipmentIndex === $index">
                <div class="col-lg-12">
                  <div data-af-field data-af-field-label="Type*">
                    <input type="text" class="form-control" name="equipmentType" id="equipment-type{{$index}}" data-ng-model="e.type" placeholder="Eg. Magnetic resonance imaging (MRI)" required>
                  </div>
                  
                  <div data-af-field data-af-field-label="Manufacturer">
                    <input type="text" class="form-control" name="equipmentManufacturer" id="equipment-manufacturer{{$index}}" placeholder="Eg. Hitachi Medical" data-ng-model="e.manufacturer">
                  </div>

                  <div data-af-field data-af-field-label="Model">
                    <input type="text" class="form-control" name="equipmentModel" id="equipment-model{{$index}}" placeholder="Eg. Echelon Oval 1.5T Ultra-Wide MRI system" data-ng-model="e.model">
                  </div>
                  
                  <div data-af-field data-af-field-label="Equipment purpose*">
                    <textarea class="form-control" name="equipmentPurpose" id="equipment-purpose{{$index}}" data-ckeditor="ckEditorConfig" data-ng-model="e.purpose" placeholder="Eg. Magnetic resonance imaging (MRI) is a medical imaging technique used in radiology..." required></textarea>
                  </div>
                  
                  <div data-af-field data-af-field-label="Equipment specifications">
                    <textarea class="form-control" name="equipmentSpecifications" id="equipment-specifications{{$index}}" data-ckeditor="ckEditorConfig" data-ng-model="e.specifications" placeholder="Eg. - 50 x 50 x 50 cm FOV..."></textarea>
                  </div>
                  
                  <div data-af-field data-af-field-label="Excess capacity*">
                    <div class="radio">
                      <label>
                        <input type="radio" name="equipmentExcessCapacity" id="equipment-excess-capacity-yes{{$index}}" data-ng-model="e.hasExcessCapacity" data-ng-value="true" required> Yes 
                      </label>
                      <label>
                        <input type="radio" name="equipmentExcessCapacity" id="equipment-excess-capacity-no{{$index}}" data-ng-model="e.hasExcessCapacity" data-ng-value="false" required> No
                      </label>
                    </div>
                  </div>
                  
                  <div data-af-field data-af-field-label="Search visibility*">
                    <div class="radio">
                      <label>
                        <input type="radio" name="equipmentIsPublic" id="equipment-is-public-yes{{$index}}" data-ng-model="e.isPublic" data-ng-value="true" selected required> Public 
                      </label>
                      <label>
                        <input type="radio" name="equipmentIsPublic" id="equipment-is-public-no{{$index}}" data-ng-model="e.isPublic" data-ng-value="false" required> Hidden
                      </label>
                    </div>
                  </div>
                  
                  <div data-af-field data-af-field-label="Keywords">
                    <input type="text" class="form-control" name="equipmentKeywords" id="equipment-keywords" data-ng-model="e.keywords" placeholder="keyword, keyword, keyword, ...">
                  </div>
                </div><!-- End of .col-x-x -->
              </div><!-- End of .row -->
            </div><!-- End of ng-form -->
          </div><!-- End of ng-repeat -->
        </div><!-- End of col-x-x -->
      </div><!-- End of .row -->
      <!-- ======================================================
        -- [END] Equipment information
        -- ====================================================== !-->
      
      <button type="button" class="btn btn-default btn-sm" data-ng-click="form.addEquipment()">Add additional equipment</button>
    </div><!-- End of .panel-body -->
  </div><!-- End of .panel -->
  
  <div>
    <button type="submit" class="btn btn-default" data-ng-disabled="facilityForm.$invalid" data-ng-click="preview()">Preview</button>
    <button type="button" class="btn btn-default" data-ng-click="form.initialise()">Reset form</button>
    <p class="text-warning" data-ng-show="facilityForm.$invalid && !facilityForm.$pristine">Please complete all mandatory fields first</p>
  </div>
</form>
