<p>
  To submit facilities and equipment for inclusion in the Atlantic Facilities and Research Equipment Database (AFRED),
  please complete the form below.
  <b>
    For help regarding what to include in a particular field, click on the <span class="fa fa-info-circle"></span> 
    symbol for each field or have a look at our facility submission 
    <a data-ui-sref="facilities.form.guide" target="_blank">guide</a>.
  </b>
</p>

<p>Submissions are subject to approval by the AFRED administrator before they are published.</p>
  
<p>
  By submitting your facility and equipment information to AFRED, you acknowledge that you have read and agreed to the
  <a data-ui-sref="about.legal.termsOfService" target="_blank">terms of service</a> and website
  <a data-ui-sref="about.legal.privacyPolicy" target="_blank">privacy policy</a>.  
</p>

<form class="form-horizontal" name="facilityForm" role="form" novalidate>
  <!-- Facility section. -->
  <div class="panel panel-default">    
    <div class="panel-body">
      <p class="text-muted">Research Facility Information</p>
      <hr>
      <div data-ng-include="'views/includes/facilities.form.facility.html'"></div>
    </div><!-- End of .panel-body -->
  </div><!-- End of .panel -->
  
  <!-- Contact section. -->
  <div class="panel panel-default">    
    <div class="panel-body">
      <p class="text-muted" style="display: inline-block;">Contact Information</p>
      
      <span data-ng-show="form.contactIndex === 0" class="label label-info">Primary point of contact</span>
      
      <p class="text-muted">{{ form.data.contacts.length }} out of 10 maximum</p>
      <hr>
  
      <div data-ng-include="'views/includes/facilities.form.contacts.html'"></div>
    </div><!-- End of .panel-body -->
  </div><!-- End of .panel -->
  
  <!-- Equipment section. -->
  <div class="panel panel-default">    
    <div class="panel-body">
      <p class="text-muted">Equipment Information</p>
      
      <p class="text-muted">{{ form.data.equipment.length }} out of 50 maximum</p>
      <hr>
      
      <div data-ng-include="'views/includes/facilities.form.equipment.html'"></div>
    </div><!-- End of .panel-body -->
  </div><!-- End of .panel -->
  
  <div>
    <p class="small">* Required field</p>
  </div>
  
  <div>
    <button type="submit" 
            class="btn btn-default" 
            data-ng-disabled="facilityForm.$invalid" 
            data-ng-click="preview()">
      Preview <span class="fa fa-eye"></span>
    </button>
    <button type="button" 
            class="btn btn-default" 
            data-ng-show="_state.is('facilities.form.create')"
            data-ng-click="form.clearSave()">
      Clear form <span class="fa fa-refresh"></span>
    </button>
    
    <p class="text-warning" data-ng-show="facilityForm.$invalid && !facilityForm.$pristine">
      <br>Please complete all required fields first
    </p>
  </div>
</form>
