<div class="row">
  <!-- List of contacts. -->
  <div class="col-md-3">
    <ul class="list-unstyled">
      <li data-ng-repeat="c in form.data.contacts">
        <a href="" 
           data-ng-class="{ 'af-bold': form.contactIndex === $index }" 
           data-ng-click="form.contactIndex = $index">
          <span class="active" 
                data-ng-class="{ 'text-danger': facilityForm['contactForm' + $index].$invalid 
                                                && facilityForm['contactForm' + $index].$dirty }">
            <span data-ng-hide="c.firstName || c.lastName">Contact #{{ $index + 1 }}</span>

            <span data-ng-show="c.firstName || c.lastName">
              {{ (c.firstName ? c.firstName : '')  + ' ' + (c.lastName ? c.lastName : '') 
                 | afEllipses:(_getWidth() >= _bootstrap.md ? 18 : 25) }}      
            </span>
          </span>
        </a>

        <span data-ng-class="{ 'pull-right': _getWidth() >= _bootstrap.md }">
          <a href="" data-ng-show="$index !== 0" data-ng-click="form.removeContact($index)">
            <span class="text-danger">
              <span class="glyphicon glyphicon-remove"></span>
            </span>
          </a>
        </span> 
      </li>
    </ul>

    <button type="button" 
            class="btn btn-default btn-sm" 
            data-ng-click="form.addContact()" 
            data-ng-disabled="form.data.contacts.length > 9">Add contact <span class="fa fa-plus"></span>
    </button>
  </div><!-- End of .col-x-x -->
  
  <hr data-ng-show="_getWidth() < _bootstrap.md">

  <!-- Form fields. -->
  <div class="col-md-9">                    
    <div data-ng-repeat="c in form.data.contacts">
      <div data-ng-form name="contactForm{{ $index }}">
        <div class="row" data-ng-show="form.contactIndex === $index">
          <div class="col-lg-6">
            <div data-af-field data-af-field-label="First name*" data-af-field-model="c.firstName">
              <input type="text" class="form-control" name="contactFirstName{{ $index }}" 
                     data-ng-model="c.firstName" data-ng-maxlength="50" required>
            </div>
            
            <div data-af-field data-af-field-label="Last name*" data-af-field-model="c.lastName">
              <input type="text" class="form-control" name="contactLastName{{ $index }}" 
                     data-ng-model="c.lastName" data-ng-maxlength="50" required>
            </div>
            
            <div data-af-field data-af-field-label="Email*" data-af-field-model="c.email">
              <input type="text" class="form-control" name="contactEmail{{ $index }}" 
                     data-ng-model="c.email" 
                     data-ng-model-options="{ debounce: 500 }" 
                     data-ng-pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" 
                     placeholder="me@example.com" data-ng-maxlength="254" required>
            </div>
            
            <!-- Telephone field for the primary contact ($index == 0) is mandatory. -->
            <div data-af-field data-af-field-label="Telephone*" data-ng-if="$index === 0">
              <input type="text" class="form-control" name="contactTelephone{{ $index }}" 
                     data-ng-model="c.telephone" 
                     data-ng-model-options="{ debounce: 500 }" 
                     data-ng-pattern="/^\d{10}$/" 
                     placeholder="5555555555" required>
            </div>
            
            <!-- Telephone field for contacts ($index > 0) is not mandatory -->
            <div data-af-field data-af-field-label="Telephone" data-ng-if="$index !== 0">
              <input type="text" class="form-control" name="contactTelephone{{ $index }}" 
                     data-ng-model="c.telephone" 
                     data-ng-model-options="{ debounce: 500 }" 
                     data-ng-pattern="/^\d{10}$/" 
                     placeholder="5555555555">
            </div>
          </div><!-- End of .col-x-x -->
          
          <div class="col-lg-6">
            <!-- Position field for the primary contact ($index == 0) is mandatory -->
            <div data-af-field 
                 data-af-field-label="Position*" 
                 data-ng-if="$index === 0" 
                 data-af-field-model="c.position">
              <input type="text" class="form-control" name="contactPosition{{ $index }}" 
                     data-ng-model="c.position" data-ng-maxlength="100" required>
            </div>
            
            <!-- Position field for contacts ($index > 0) is not mandatory -->
            <div data-af-field 
                 data-af-field-label="Position" 
                 data-ng-if="$index !== 0" 
                 data-af-field-model="c.position">
              <input type="text" class="form-control" name="contactPosition{{ $index }}" 
                     data-ng-model="c.position" data-ng-maxlength="100">
            </div>
            
            <div data-af-field 
                 data-af-field-label="Website" 
                 data-af-field-model="c.website" 
                 data-af-field-tooltip="'If you have your own website, separate from the facility website, enter it 
                                        here.'">
              <input type="url" class="form-control" name="contactWebsite{{ $index }}" 
                     data-ng-model="c.website" 
                     data-ng-model-options="{ debounce: 500 }" 
                     data-ng-maxlength="2083" 
                     placeholder="http://example.com">
            </div>
            
            <div data-af-field data-af-field-label="Extension" data-af-field-model="c.extension">
              <input type="text" class="form-control" name="contactExtension{{ $index }}" 
                     data-ng-model="c.extension" data-ng-maxlength="10">
            </div>
          </div><!-- End of .col-x-x -->
        </div><!-- End of .row -->
      </div><!-- End of ng-form -->
    </div><!-- End of ng-repeat -->
  </div><!-- End of .col-x-x -->
</div><!--End of .row -->
