<div class="row">
  <div class="col-lg-6">
    <div data-af-field data-af-field-label="Facility/Lab*" data-af-field-model="form.data.facility.name">
      <input class="form-control" name="facilityName" data-ng-model="form.data.facility.name" maxlength="200" required>
    </div>
    
    <div data-af-field data-af-field-label="Organization*">
      <select class="form-control" name="facilityOrganization" id="facility-organization" data-ng-model="form.data.facility.organizationId" data-ng-options="i.id as i.name for i in form.organizations" required>
      </select>
    </div>
    
    <div data-af-field data-af-field-label="Organization name*" data-ng-if="form.data.facility.organizationId == -1" data-af-field-model="form.data.organization.name">
      <input type="text" class="form-control" name="facilityOrganizationName" data-ng-model="form.data.organization.name" maxlength="50" required>
    </div>
  </div><!-- End of .col-x-x -->

  <div class="col-lg-6">
    <div data-af-field data-af-field-label="City" data-af-field-model="form.data.facility.city">
      <input type="text" class="form-control" name="facilityCity" data-ng-model="form.data.facility.city" maxlength="150">
    </div>
    
    <div data-af-field data-af-field-label="Province/Region*">          
      <select class="form-control" name="facilityProvince" id="facility-province" data-ng-model="form.data.facility.provinceId" data-ng-options="p.id as p.name for p in form.provinces" required>
      </select>
    </div>
    
    <div data-af-field data-af-field-label="Facility website" data-af-field-model="form.data.facility.website">
      <input type="url" class="form-control" name="facilityWebsite" data-ng-model="form.data.facility.website" data-ng-model-options="{ debounce: 500 }" placeholder="http://example.com" maxlength="2083">
    </div>
  </div><!-- End of .col-x-x -->
</div><!-- End of .row -->


<div data-af-field data-af-field-label="What the facility does*" data-af-field-model="form.data.facility.description">
  <div data-text-angular data-ng-model="form.data.facility.description" name="facilityDescription" data-ta-maxlength="2000" required></div>
</div>

<hr>

<div data-ng-form name="disciplinesForm">
  <!--
    -- This part is a bit of a hack. The directive 'af-field' is not able to retrieve all the details (name, id, etc)
    -- from the input element (probably because of ng-repeat) by itself. So we're using the 'af-field-name' option
    -- to override the default behaviour of the directive and just provide it with the name manually. Each checkbox
    -- has a unique name so we're not able to provide the directive with the names of all the checkboxes so we're
    -- only giving it the name of the first checkbox. Technically the directive should be repeated for each checkbox
    -- but then we'll end up losing the layout and each checkbox will end up up with its own label. Since we're only
    -- providing the name of the first checkbox, validation is a problem. We're using the 
    -- '$rootScope._form.cb.isRequired()' for validation.
    -->
  <div data-af-field data-af-field-label="Research disciplines*" data-af-field-name="facilityDisciplinesC10">
    <div class="row">
      <div class="col-md-6">
        <div data-ng-repeat="d in form.disciplines | limitTo: form.disciplines.length / 2">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="facilityDisciplinesC1{{ $index }}" data-ng-model="d.isSelected" data-ng-required="_form.cb.isRequired(form.disciplines, disciplinesForm['facilityDisciplinesC10'])"> {{d.name}}
            </label>
          </div>
        </div>
      </div>
      
      <div class="col-md-6">
        <div data-ng-repeat="d in form.disciplines | limitTo: form.disciplines.length:(form.disciplines.length / 2)">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="facilityDisciplinesC2{{ $index }}" data-ng-model="d.isSelected" data-ng-required="_form.cb.isRequired(form.disciplines, disciplinesForm['facilityDisciplinesC10'])"> {{d.name}}
            </label>
          </div>
        </div>
      </div>    
    </div><!-- End of .row -->
  </div>
</div><!-- End of ng-form -->

<hr>

<div data-ng-form name="sectorsForm">
  <!--
    -- Please have a look at the comments for 'disciplinesForm' above for how we're using the 'af-field' directive.
    -- Exact same scenario here.
    -->
  <div data-af-field data-af-field-label="Sectors of application*" data-af-field-name="facilitySectorsC10">
    <div class="row">
      <div class="col-md-6">
        <div data-ng-repeat="s in form.sectors | limitTo: form.sectors.length / 2">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="facilitySectorsC1{{ $index }}" data-ng-model="s.isSelected" data-ng-required="_form.cb.isRequired(form.sectors, sectorsForm['facilitySectorsC10'])"> {{s.name}}
            </label>
          </div>
        </div>
      </div>
      
      <div class="col-md-6">
        <div data-ng-repeat="s in form.sectors | limitTo: form.sectors.length:(form.sectors.length / 2)">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="facilitySectorsC2{{ $index }}" data-ng-model="s.isSelected" data-ng-required="_form.cb.isRequired(form.sectors, sectorsForm['facilitySectorsC10'])"> {{s.name}}
            </label>
          </div>
        </div> 
      </div>
    </div><!-- End of .row -->
  </div>
</div><!-- End of .ng-form -->
