<div class="row">
  <div class="col-lg-2">
    <table class="table table-condensed table-list">
      <tbody>
        <tr data-ng-repeat="e in form.data.equipment" data-ng-class="{active: form.equipmentIndex === $index}" data-ng-click="form.equipmentIndex = $index">
          <td>
            <a href="">
              <span data-ng-class="{ 'text-danger': facilityForm['equipmentForm' + $index].$invalid && facilityForm['equipmentForm' + $index].$dirty }">
                <span data-ng-hide="e.type">Equipment #{{$index + 1}}</span>
                <span data-ng-show="e.type">{{e.type}} <span data-ng-show="e.manufacturer">({{e.manufacturer}})</span></span>
              </span>
            </a>
          </td>
          <td>
            <a href="" data-ng-show="$index !== 0" data-ng-click="form.removeEquipment($index)">
              <span class="text-danger">
                <span class="glyphicon glyphicon-remove"></span>
              </span>
            </a>                         
          </td>
        </tr>
      </tbody>
    </table>
    
    <button type="button" class="btn btn-default btn-sm" data-ng-click="form.addEquipment()">Equipment <span class="fa fa-plus"></span></button>
  </div><!-- End of .col-x-x -->
  
  <div class="col-lg-10">
    <div data-ng-repeat="e in form.data.equipment">
      <div data-ng-form name="equipmentForm{{ $index }}">
        <div class="row" data-ng-show="form.equipmentIndex === $index">
          <div class="col-lg-12">
            <div data-af-field data-af-field-label="Type*" data-af-field-model="e.type">
              <input type="text" class="form-control" name="equipmentType{{ $index }}" data-ng-model="e.type" placeholder="E.g. Magnetic resonance imaging (MRI)" maxlength="200" required>
            </div>
            
            <div data-af-field data-af-field-label="Manufacturer" data-af-field-model="e.manufacturer">
              <input type="text" class="form-control" name="equipmentManufacturer{{ $index }}" placeholder="E.g. Hitachi Medical" data-ng-model="e.manufacturer" maxlength="100">
            </div>

            <div data-af-field data-af-field-label="Model" data-af-field-model="e.model">
              <input type="text" class="form-control" name="equipmentModel{{ $index }}" placeholder="E.g. Echelon Oval 1.5T Ultra-Wide MRI system" data-ng-model="e.model" maxlength="100">
            </div>
            
            <!--
              -- For this part, we have to use $index to make the names unique otherwise textAngular will complain. The same
              -- goes for equipment specifications.
              -->
            <div data-af-field data-af-field-label="Equipment purpose*" data-af-field-model="e.purpose">
              <div data-text-angular name="equipmentPurpose{{ $index }}" data-ng-model="e.purpose" maxlength="2000" placeholder="E.g. Magnetic resonance imaging (MRI) is a medical imaging technique used in radiology..." required></div>
            </div>
            
            <div data-af-field data-af-field-label="Equipment specifications" data-af-field-model="e.specifications">
              <div data-text-angular name="equipmentSpecifications{{ $index }}" data-ng-model="e.specifications" placeholder="E.g. - 50 x 50 x 50 cm FOV..." maxlength="2000"></div>
            </div>
            
            <div data-af-field data-af-field-label="Year purchased">
              <input type="text" class="form-control" name="equipmentYearPurchased{{ $index }}" data-ng-model="e.yearPurchased" data-ng-model-options="{ debounce: 500 }" pattern="(?:19|20)[0-9]{2}" placeholder="E.g. 1995">
            </div>
            
            <div data-af-field data-af-field-label="Year manufactured">
              <input type="text" class="form-control" name="equipmentYearManufactured{{ $index }}" data-ng-model="e.yearManufactured" data-ng-model-options="{ debounce: 500 }" pattern="(?:19|20)[0-9]{2}" placeholder="E.g. 1990">
            </div>
            
            <div data-af-field data-af-field-label="Excess capacity*">
              <div class="radio">
                <label>
                  <input type="radio" name="equipmentExcessCapacity{{ $index }}" data-ng-model="e.hasExcessCapacity" data-ng-value="true" required> Yes 
                </label>
                <label>
                  <input type="radio" name="equipmentExcessCapacity{{ $index }}" data-ng-model="e.hasExcessCapacity" data-ng-value="false" required> No
                </label>
              </div>
            </div>
            
            <div data-af-field data-af-field-label="Search visibility*">
              <div class="radio">
                <label>
                  <input type="radio" name="equipmentIsPublic{{ $index }}" data-ng-model="e.isPublic" data-ng-value="true" selected required> Public 
                </label>
                <label>
                  <input type="radio" name="equipmentIsPublic{{ $index }}" data-ng-model="e.isPublic" data-ng-value="false" required> Hidden
                </label>
              </div>
            </div>
            
            <div data-af-field data-af-field-label="Keywords">
              <input type="text" class="form-control" name="equipmentKeywords{{ $index }}" data-ng-model="e.keywords" placeholder="NMRI, MRT, etc">
            </div>
          </div><!-- End of .col-x-x -->
        </div><!-- End of .row -->
      </div><!-- End of ng-form -->
    </div><!-- End of ng-repeat -->
  </div><!-- End of col-x-x -->
</div><!-- End of .row -->
