<p class="text-muted">Research Facility</p>
<hr>

<div class="row">
  <div class="col-sm-3" data-ng-class="{ 'text-right': _window.innerWidth >= _bootstrap.grid.breakpoints.sm }"><label>Facility</label></div>
  <div class="col-sm-9">{{ facility.name }}</div>
</div>

<br data-ng-show="_window.innerWidth < _bootstrap.grid.breakpoints.sm">

<div class="row">
  <div class="col-sm-3" data-ng-class="{ 'text-right': _window.innerWidth >= _bootstrap.grid.breakpoints.sm }"><label>Organization</label></div>
  <div class="col-sm-9">{{ facility.organization.name }} <span class="label label-default" data-ng-show="facility.isPreview && facility.isNewOrganization">New organization</span></div>
</div>

<br data-ng-show="_window.innerWidth < _bootstrap.grid.breakpoints.sm">

<div class="row">
  <div class="col-sm-3" data-ng-class="{ 'text-right': _window.innerWidth >= _bootstrap.grid.breakpoints.sm }"><label>City</label></div>
  <div class="col-sm-9">{{ facility.city }}</div>
</div>

<br data-ng-show="_window.innerWidth < _bootstrap.grid.breakpoints.sm">

<div class="row">
  <div class="col-sm-3" data-ng-class="{ 'text-right': _window.innerWidth >= _bootstrap.grid.breakpoints.sm }"><label>Province</label></div>
  <div class="col-sm-9">{{ facility.province.name }}</div>
</div>

<br data-ng-show="_window.innerWidth < _bootstrap.grid.breakpoints.sm">

<div class="row" data-ng-show="facility.website || facility.isPreview">
  <div class="col-sm-3" data-ng-class="{ 'text-right': _window.innerWidth >= _bootstrap.grid.breakpoints.sm }"><label>Website</label></div>
  <div class="col-sm-9">
    <a data-ng-href="{{ facility.website }}" target="_blank">{{ facility.website }}</a>
    <span class="label label-default" data-ng-show="!facility.website">Blank</span>
  </div>
</div>

<br data-ng-show="_window.innerWidth < _bootstrap.grid.breakpoints.sm">

<div class="row">
  <div class="col-sm-3" data-ng-class="{ 'text-right': _window.innerWidth >= _bootstrap.grid.breakpoints.sm }"><label>Description</label></div>
  <div class="col-sm-9" data-ng-bind-html="facility.description"></div>
</div>

<div class="row">
  <div class="col-sm-3" data-ng-class="{ 'text-right': _window.innerWidth >= _bootstrap.grid.breakpoints.sm }"><label>Disciplines</label></div>
  <div class="col-sm-9">
    <ul>
      <li data-ng-repeat="d in facility.disciplines">{{ d.name }}</li> 
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-sm-3" data-ng-class="{ 'text-right': _window.innerWidth >= _bootstrap.grid.breakpoints.sm }"><label>Sectors</label></div>
  <div class="col-sm-9">
    <ul>
      <li data-ng-repeat="s in facility.sectors">{{ s.name }}</li> 
    </ul>
  </div>
</div>