<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p><b>Resources</b></p>
      
      <p><a data-ui-sref="about.legal.termsOfService">Terms of Service</a></p>
      
      <p><a data-ui-sref="about.legal.privacyPolicy">Privacy Policy</a></p>
      
      <p><a data-ui-sref="about.legal.disclaimer">Disclaimer</a></p>
    </div>
    
    <div class="col-md-3">
      <p><b>What is AFRED?</b></p>
      
      <p><a href="//afred.ca/coming-soon/" target="_blank">Find out what AFRED can do for you!</a></p>
      
      <p><a href="//afred.ca/coming-soon/#partners-and-supporters" target="_blank">All Partners and Supporters</a></p>
    </div>
    
    <div class="col-md-3">
      <p><b>Connect with us!</b></p>
      
      <p><a href="//twitter.com/AFREDatabase" target="_blank"><span class="fa fa-twitter"></span> @AFREDatabase</a></p>
      
      <p><b>Sign up for updates!</b></p>
      
      <p><a href="//afred.ca/coming-soon" target="_blank"><button class="btn btn-default"><span class="fa fa-envelope-o"></span> Sign up</button></a></p>
    </div>
    
    <div class="col-md-3">
      <p><b>Key partners</b></p>
      
      <a data-ng-href="{{ main.footer.slider.currentImgUrl }}" target="_blank">
        <img data-ng-src="{{ main.footer.slider.currentImgSrc }}" alt="Key partners">
      </a>
    </div>
  </div>
  
  <p class="text-center text-muted">Copyright &copy; 2004 - {{ main.footer.copyrightEndYear }} Science Atlantic. All Rights Reserved.</p>
</div>
