<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- First column. -->
      <div class="col-md-3">
        <p class="af-bold">Resources</p>
        
        <p><a data-ui-sref="legal.termsOfService" target="_blank">Terms of Service</a></p>
        
        <p><a data-ui-sref="legal.privacyPolicy" target="_blank">Privacy Policy</a></p>
        
        <p><a data-ui-sref="legal.disclaimer" target="_blank">Disclaimer</a></p>
      </div>
      
      <!-- Second column. -->
      <div class="col-md-3">
        <p class="af-bold">What is AFRED</p>

        <p><a data-ui-sref="about">About Us</a></p>

        <p><a data-ui-sref="contact">Contact Us</a></p>

        <p><a data-ui-sref="home({ '#': 'partners-and-supporters' })">Partners and Supporters</a></p>
      </div>
      
      <!-- Third column. -->
      <div class="col-md-3">
        <p class="af-bold">Connect with us!</p>
        
        <p>
          <span class="fa fa-twitter"></span> 
          <a href="//twitter.com/AFREDatabase" target="_blank">
            @AFREDatabase
          </a>
        </p>
        
        <p class="af-bold">Sign up for updates!</p>
        
        <p>
          <a href="http://afred.us1.list-manage1.com/subscribe?u=dd9438e5241a969b149838940&id=d636f71d3d" 
             target="_blank">
            <button class="btn btn-default">
              <span class="fa fa-envelope-o"></span> Sign up
            </button>
          </a>
        </p>
      </div>
      
      <!-- Fourth column. -->
      <div class="col-md-3">
        <p class="af-bold">A project of</p>
        
        <div>
          <a data-ng-href="https://scienceatlantic.ca" target="_blank">
            <img data-ng-src="images/sa-main-logo-200x80.png" alt="Science Atlantic Logo">
          </a>
        </div>
      </div>
    </div>
    
    <!-- Copyright text. -->
    <p class="text-center text-muted af-copyright">
      Copyright &copy; 2004 - {{ main.footer.copyrightEndYear }} Science Atlantic. All Rights Reserved.
    </p>
  </div>
</footer>
