<div style="background-color: #f8f8f8;">
  <!-- Beta version note. -->
  <div class="container">
    <p class="text-center text-warning" style="padding-top: 10px;">
      Please note that this is a beta version of AFRED. If you experience any 
      difficulties using the software, or have any questions or comments, please 
      email <a href="mailto: afred@scienceatlantic.ca">afred@scienceatlantic.ca</a>.
    </p>
  </div>
  
  <header class="container">
    <!-- AFRED Logo for desktop screens. -->
    <div data-ng-if="_window.innerWidth > 500">
      <div style="margin: 50px 0;">
        <a data-ui-sref="search">
          <img src="images/afred-logo-colour-gradient-bottom-tagline-470x125.png" alt="AFRED logo">
        </a>
      </div>
    </div>
    
    <!-- AFRED Logo for small screens. -->
    <div data-ng-if="_window.innerWidth <= 500">
      <div class="text-center" style="margin: 20px 0;">
        <a data-ui-sref="search">
          <img src="images/afred-symbol-bottom-text 200x170.png" alt="AFRED logo">
        </a>
      </div> 
    </div>
  </header>
</div>
