<div class="row">
  <div class="col-md-3 text-right"><label>Name</label></div>
  <div class="col-md-9">{{facility.organization.ilo.firstName}} {{facility.organization.ilo.lastName}}</div>
</div>

<div class="row">
  <div class="col-md-3 text-right"><label>Email</label></div>
  <div class="col-md-9"><a data-ng-href="mailto:{{facility.organization.ilo.email}}">{{facility.organization.ilo.email}}</a></div>
</div>

<div class="row">
  <div class="col-md-3 text-right"><label>Telephone</label></div>
  <div class="col-md-9">{{facility.organization.ilo.telephone}}</div>
</div>

<div class="row">
  <div class="col-md-3 text-right"><label>Position</label></div>
  <div class="col-md-9">{{facility.organization.ilo.position}}</div>
</div>

<div class="row" data-ng-show="facility.organization.ilo.website">
  <div class="col-md-3 text-right"><label>Website</label></div>
  <div class="col-md-9"><a href="{{facility.organization.ilo.website}}" target="_blank">{{facility.organization.ilo.website}}</a></div>
</div>