<div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div><!-- End of .navbar-header -->
    
  <div class="collapse navbar-collapse" id="main-navbar">
    <ul class="nav navbar-nav">
      <li data-ui-sref-active="active"><a data-ui-sref="search">Search</a></li>
      <li data-ui-sref-active="active"><a data-ui-sref="facilities.form.create">Submit a Facility</a></li>
      <li data-ui-sref-active="active"><a data-ui-sref="facilities.update">Update</a></li>
      <li data-ui-sref-active="active"><a data-ui-sref="about">About</a></li>
      <li data-ui-sref-active="active"><a data-ui-sref="contact">Contact</a></li>
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      <li role="presentation" class="dropdown" data-ng-show="_auth.user.email">
        <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">
          Admin <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a data-ui-sref="admin.dashboard">Dashboard</a></li>
          <li><a data-ui-sref="admin.account">Account</a></li>
          <li><a data-ui-sref="admin.facilities">Facilities</a></li>
          <li><a data-ui-sref="admin.organizations.index">Organizations</a></li>
          <li><a data-ui-sref="admin.provinces.index">Provinces</a></li>
          <li><a data-ui-sref="admin.sectors.index">Sectors</a></li>
          <li><a data-ui-sref="admin.disciplines.index">Disciplines</a></li>
          <li><a data-ui-sref="admin.reports">Reports</a></li>
        </ul>
      </li>
      <li data-ui-sref-active="active" data-ng-hide="_auth.user.email"><a data-ui-sref="login">Administrator Login</a></li>
      <li><a data-ui-sref="login" data-ng-show="_auth.user.email" data-ng-click="_auth.logout()">Logout</a></li>
    </ul>
  </div><!-- End of .collapse -->
  
  <div style="padding-right: 13px;" data-ng-show="_auth.user.firstName">
    <div class="pull-right">
      <p>Logged in as <b>{{ _auth.user.firstName }} {{ _auth.user.lastName }}</b></p>
    </div>
  </div>
</div><!-- End of .container -->
